/* Space out content a bit */
body {

  padding-bottom: 20px;
    background-color: #eaf5f7;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer,#body
{
  padding-left: 15px;
  padding-right: 15px;
  margin: 30px;
  margin-bottom: 5px !important;
}
.header {
    margin-top: 5px;
    margin-bottom: 5px;
}
.margin-both{
    margin-left: 10px;
    margin-right: 10px;
}
#body {
    margin-top: 5px;
}
.btnNew{
    margin-left: 5px;
}
#tableComunidad tr:hover {
    cursor: pointer;

}
.filter {

    padding-bottom: 10px;
}

/* Custom page header */
.header {

}
.detail {
    background-color: #b9def0;
    border: solid thin #1c1c1c;
    padding: 20px;
    padding-right: 40px;
    border-radius: 5px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}
.push-botton {
    margin-top: 15px;
}
/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
#body {
    min-height: 200px;
}
#comunidades {
    margin-top: 20px;
}
