<div class="list-group">
    <a href="#/incidencia" class="list-group-item list-group-item-success"><span class="glyphicon glyphicon-flag"> </span> Incidencias</a>
    <a href="#/entrega" class="list-group-item list-group-item-success"><span class="glyphicon glyphicon-transfer"> </span> Entregas</a>
    <a href="#/contabilidad" class="list-group-item list-group-item-success"><span class="glyphicon glyphicon-folder-open"> </span> Contabilidad</a>
    <a href="#/tarea" class="list-group-item list-group-item-warning"><span class="glyphicon glyphicon-list-alt"> </span> Tareas</a>
    <a href="#/aviso" class="list-group-item list-group-item-warning"><span class="glyphicon glyphicon-bullhorn"> </span> Avisos</a>
    <a href="#/comunidad" class="list-group-item list-group-item-info"><span class="glyphicon glyphicon-home"> </span> Comunidades</a>
    <a href="#/caja" class="list-group-item list-group-item-info"><span class="glyphicon glyphicon-euro"> </span> Cajas</a>
    <a href="#/persona" class="list-group-item list-group-item-info"><span class="glyphicon glyphicon-user"> </span> Personas </a>
    <a href="#/empresa" class="list-group-item list-group-item-info"><span class="glyphicon glyphicon-briefcase"> </span> Empresas</a>
    <a href="#/telefono" class="list-group-item list-group-item-info"><span class="glyphicon glyphicon-phone-alt"> </span> Teléfonos</a>
</div>