<table ng-show="{{show}}" class="table table-hover table-condensed">
    <thead>
    <th ng-repeat="key in keys">{{key}}</th>      </thead>
    <tbody>
    <tr ng-repeat="value in values|cleanNull">
        <td>{{value.[0]}}</td>
        <td>{{comunidad.Nombre}}</td>
        <td> <button data-toggle="modal" data-target="#myModal" type="button" class="btn btn-danger btn-xs"
                     ng-click="selectComunidadId(comunidad)"><span
                class="glyphicon glyphicon-plus"> </span></button></td>
    </tr>
    </tbody>
</table>