<div class="row">
    <div class="col-lg-2">
        <blockquote><h3><span class="glyphicon glyphicon-bullhorn"> </span> Avisos</h3></blockquote>
    </div>


    <div class="col-lg-8">

        <div class="btn-group" ng-model="button.radio" bs-radio-group>
            <label class="btn btn-default" ng-model="radioModel" btn-radio="'FechaEntrega'" uncheckable
                   ng-click="changeFilterBy('FechaAviso')"><span
                    class="glyphicon glyphicon-calendar"> </span><input type="radio" class="btn btn-default"
                                                                        value="0"></label>
            <label class="btn btn-default" ng-model="radioModel" btn-radio="'Comunidad'" uncheckable
                   ng-click="changeFilterBy('Nombre')"><span
                    class="glyphicon glyphicon-font"> </span><input type="radio" class="btn btn-default"
                                                                    value="1"></label>
            <label class="btn btn-default" ng-model="radioModel" btn-radio="'Notas'" uncheckable
                   ng-click="changeFilterBy('Descripcion')"><span
                    class="glyphicon glyphicon-edit"> </span><input type="radio" class="btn btn-default"
                                                                    value="2"></label>
            <label class="btn btn-default" ng-model="radioModel" btn-radio="'Notas'" uncheckable
                   ng-click="changeFilterBy('Prioridad')"><span
                    class="glyphicon glyphicon-exclamation-sign"> </span><input type="radio" class="btn btn-default"
                                                                                value="3"></label>
            <label class="btn btn-default" ng-model="radioModel" btn-radio="'Marcada'" uncheckable
                   ng-click="changeFilterBy('Marcada')"><span
                    class="glyphicon glyphicon-ok-circle"> </span><input type="radio" class="btn btn-default"
                                                                         value="4"></label>
            <label class="btn btn-default" ng-model="radioModel" btn-radio="'Todo'" uncheckable
                   ng-click="changeFilterBy('$')"><span
                    class="glyphicon glyphicon-asterisk"> </span><input type="radio" class="btn btn-default"
                                                                        value="5"></label>
            <label class="btn btn-success" ng-click="changeSearch()"> <span
                    class="glyphicon glyphicon-calendar"> </span> <span
                    class="glyphicon glyphicon-transfer"> </span> <span
                    class="glyphicon glyphicon-calendar"> </span><input type="radio" class="btn btn-default"
                                                                        value="6"></label>
            <label class="btn btn-primary" ng-click="loadData()"><span
                    class="glyphicon glyphicon-download-alt"> </span><input type="radio" class="btn btn-default"
                                                                            value="7"></label>
            <button type="button" class="btn btn-info " ng-click="create()"><span
                    class="glyphicon glyphicon-plus-sign"> </span> Nuevo Aviso
            </button>
        </div>
        <div class="input-group col-lg-3 pull-right">
            <span class="input-group-addon"> <span class="glyphicon glyphicon-sort"></span></span>
            <select id="selectOrder" class="form-control" ng-model="order" ng-init="order='Comunidad'"
                    ng-options="option as option for option in orderFields"></select>
        </div>




        <!-- <p><button class="btn btn-default" ng-click=">Buscar entre fechas</button></p>-->

        <div ng-show="!isCollapsed" class="push-botton">
            <form class="form-inline" role="form" ng-submit="buscarBetween()">
                <div class="form-group col-lg-4">
                    <div class="input-group ">
                        <span class="input-group-addon"> <span
                                class="glyphicon glyphicon-calendar"> </span> </span>
                        <input class="form-control" type="text" ng-model="inicio" datepick placeholder="Inicio"/>
                    </div>
                </div>
                <div class="form-group col-lg-4">
                    <div class="input-group ">
                        <span class="input-group-addon"> <span
                                class="glyphicon glyphicon-calendar"> </span> </span>
                        <input class="form-control" type="text" ng-model="final" datepick placeholder="Final"/>
                    </div>
                </div>
                <div class="form-group">


                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Buscar</button>
                </div>

            </form>

        </div>
        <div class="row push-botton">
            <form role="form" ng-submit="buscarBetween()">
                <div class="form-group col-lg-8">
                    <div class="input-group ">
                        <span ng-show="isFilter" class="input-group-addon">Filtro</span>
                        <input  id="busqueda" ng-show="isFilter" class="form-control col-lg-6" type="text" name="input"
                                ng-model="search[filtro]">
                    </div>
                </div>
            </form>
        </div>


    </div>

    <div class="col-lg-2">
        <div class="btnNew btn-group-vertical">

            <button type="button" class="btn btn-warning " ng-click=""><span
                    class="glyphicon glyphicon-calendar"> </span> Ver en Calendario
            </button>
        </div>


    </div>
</div>


<div class="row">
    <div class="col-lg-2">
        <left-menu></left-menu>
    </div>
    <div class="col-lg-8">

        <div class="row">
            <div class="col-lg-12">
                <div class="panel-group" id="accordion">
                    <div ng-repeat="aviso in avisos|cleanNull|filter:search|orderBy:'FechaAviso'" class="panel panel-default">
                        <div class=" panel-heading" >
                            <h4 class="panel-title" >
                                <div class="media">
                                    <div class="pull-left">
                                        <div class="media-object"><span ng-class="prioridadClass(aviso)" class="label">{{aviso.Prioridad}} </span>
                                        </div>
                                    </div>
                                    <div class="pull-left">
                                        <div class="media-object"><span  class="label label-success">{{aviso.FechaAviso|date}} </span>
                                        </div>
                                    </div>
                                    <div class="media-body">

                                        <div class="btn-group pull-right">
                                            <button data-toggle="modal" data-target="#myModal" type="button"
                                                    class=" btn btn-sm btn-danger"
                                                    ng-click="getIdToRemove(aviso.Id)"><span
                                                    class="glyphicon glyphicon-trash"> </span></button>
                                            <button type="button" class="btn  btn-sm btn-primary"
                                                    ng-click="edit(aviso.Id)"><span
                                                    class="glyphicon glyphicon-edit"> </span></button>
                                            <button type="button" class="btn  btn-sm btn-default"
                                                    ng-click="marcar(aviso)"><span
                                                    class="glyphicon glyphicon-ok"> </span></button>
                                        </div>

                                        <h4 class="media-heading"><a data-toggle="collapse" data-parent="#accordion"  ng-class="{'text-danger': aviso.Marcada==1, 'text-success': aviso.Marcada==0}"
                                                                     data-target="#collapse{{$index}}"> <strong>{{aviso.Nombre}}</strong></a>
                                        </h4>

                                    </div>
                                </div>
                            </h4>
                        </div>
                        <div id="collapse{{$index}}" class="panel-collapse collapse">
                            <div class="panel-body">
                                <h5><strong>Descripción:</strong> {{aviso.Descripcion}}</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="checkbox">

        </div>


    </div>
    <div class="col-lg-2">
        <div ng-show="!isCollapsed" class="alert alert-success push-botton">
            Desde el {{(inicio|date)}} hasta el {{(final|date)}}
        </div>
    </div>

</div>
</div>


</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                ¿Seguro que desea borrar la entrega?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="remove(deleteId)">Borrar
                </button>
            </div>
        </div>
    </div>
</div>