<div class="row">
    <div class="col-lg-2">
        <blockquote><h3>Crear/Editar Contabilidad</h3></blockquote>
        <left-menu></left-menu>
    </div>

    <div class="col-lg-7 detail">
        <form class="form-horizontal" role="form" ng-submit="submit()">
            <div class="form-group">

                <button type="submit" class="btn btn-primary pull-right">Salvar</button>

            </div>
            <div class="form-group">
                <label for="nombre" class="col-sm-2 control-label">Resumen</label>

                <div class="col-sm-10">
                    <input type="text" class="form-control" id="nombre" ng-model="aviso.Nombre"
                           placeholder="Resumen" required>
                </div>
            </div>
            <div class="form-group">
                <label for="fechaT" class="col-sm-2 control-label">Fecha Aviso</label>

                <div class="col-sm-6">
                    <h4>{{aviso.FechaAviso|date}}</h4>
                    <div id="fechaT" ng-model="aviso.FechaAviso" datepick/>
                </div>

                <div class="col-sm-4">
                    <div class="form-group">
                        <label for="fechaT" class="control-label">Asociacion</label>
                        <h4 ng-show="selectComunidad">Comunidad:<span class="label label-success">{{aviso.ComunidadId}}</h4>
                        <h4  ng-show="selectTarea">Tarea:<span class="label label-success">{{aviso.TareaId}}</span></h4>
                        <h4  ng-show="selectIncidencia">Incidencia:<span class="label label-success">{{aviso.IncidenciaId}}</span></h4>
                        <h4  ng-show="selectPersona">Persona:<span class="label label-success">{{aviso.PersonaId}}</span></h4>
                    </div>

                    <div class="form-group">
                        <div class="col-sm-12"> </div>
                        <label for="prioridad" class="control-label">Prioridad: <span  ng-class="prioridadClass(selectedOption)" class="label">{{selectedOption}}</span></label>
                        <div class="">
                            <select  id="prioridad"  class="form-control" ng-model="selectedOption" ng-options="prioridad.value as prioridad.label for prioridad in prioridadValues" >
                                <option value="">-- Cambiar Prioridad --</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-10">
                            <div id="asociar" class="btn-group-vertical" ng-model="button.radio" bs-radio-group>
                                <label ng-click="showAsociation('persona')" class="btn btn-default"><input  type="radio" class="btn btn-default" value="0"> Persona</label>
                                <label ng-click="showAsociation('tarea')" class="btn btn-default"><input  type="radio" class="btn btn-default" value="1"> Tarea</label>
                                <label ng-click="showAsociation('incidencia')" class="btn btn-default"><input type="radio" class="btn btn-default" value="2"> Incidencia</label>
                                <label ng-click="showAsociation('comunidad')" class="btn btn-default"><input type="radio" class="btn btn-default" value="3"> Comunidad</label>
                            </div>
                        </div>
                    </div>

                </div>


            </div>


            <div class="form-group">
                <label for="descripcion" class="col-sm-2 control-label">Descripcion</label>

                <div class="col-sm-10">
                    <textarea rows="9" class="form-control" id="descripcion" ng-model="aviso.Descripcion"> </textarea>
                </div>
            </div>



        </form>
    </div>
    <div class="col-lg-3">
        <div class="form-group">
            <label for="filtro" class="control-label">Filtro Asociar a:</label>
            <input type="text" class="form-control" id="filtro" ng-model="search"
                   placeholder="Filtrar">
            <div>
                <table  ng-show="selectPersona" class="table table-hover table-condensed">
                    <thead>
                    <th>Id</th>
                    <th>Persona</th>

                    </thead>
                    <tbody>
                    <tr ng-repeat="persona in personas|cleanNull|filter:search ">
                        <td>{{persona.Id}}</td>
                        <td>{{persona.Nombre}}</td>
                        <td> <button data-toggle="modal" data-target="#myModal" type="button" class="btn btn-danger btn-xs"
                                     ng-click="selectPersonaId(persona)"><span
                                class="glyphicon glyphicon-plus"> </span></button></td>
                    </tr>
                    </tbody>
                </table>
                <table ng-show="selectTarea" class="table table-hover table-condensed">
                    <thead>
                    <th>Id</th>
                    <th>Empresa</th>

                    </thead>
                    <tbody>
                    <tr ng-repeat="aviso in tareas|cleanNull|filter:search ">
                        <td>{{aviso.Id}}</td>
                        <td>{{aviso.Nombre}}</td>
                        <td> <button data-toggle="modal" data-target="#myModal" type="button" class="btn btn-danger btn-xs"
                                     ng-click="selectTareaId(aviso)"><span
                                class="glyphicon glyphicon-plus"> </span></button></td>
                    </tr>
                    </tbody>
                </table>
                <table ng-show="selectIncidencia" class="table table-hover table-condensed">
                    <thead>
                    <th>Id</th>
                    <th>Incidencia</th>

                    </thead>
                    <tbody>
                    <tr ng-repeat="incidencia in incidencias|cleanNull|filter:search ">
                        <td>{{incidencia.Id}}</td>
                        <td>{{persona.Resumen}}</td>
                        <td> <button data-toggle="modal" data-target="#myModal" type="button" class="btn btn-danger btn-xs"
                                     ng-click="selectIncidenciaId(incidencia)"><span
                                class="glyphicon glyphicon-plus"> </span></button></td>
                    </tr>
                    </tbody>
                </table>
                <table ng-show="selectComunidad" class="table table-hover table-condensed">
                    <thead>
                    <th>Id</th>
                    <th>Incidencia</th>

                    </thead>
                    <tbody>
                    <tr ng-repeat="comunidad in comunidades|cleanNull|filter:search ">
                        <td>{{comunidad.Id}}</td>
                        <td>{{comunidad.Nombre}}</td>
                        <td> <button data-toggle="modal" data-target="#myModal" type="button" class="btn btn-danger btn-xs"
                                     ng-click="selectComunidadId(comunidad)"><span
                                class="glyphicon glyphicon-plus"> </span></button></td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>


    </div>

</div>

</div>
