<div class="row">
    <div class="col-lg-2">
        <blockquote><h3>Crear/Editar Caja</h3></blockquote>
        <left-menu></left-menu>
    </div>

    <div class="col-lg-7 detail">
        <form class="form-horizontal" role="form" ng-submit="submit()">
            <div class="form-group">

                <button type="submit" class="btn btn-primary pull-right">Salvar</button>

            </div>
            <div class="form-group">
                <label for="comunidad" class="col-sm-2 control-label">Comunidad</label>

                <div class="col-sm-10">
                    <input type="text" class="form-control" id="comunidad" ng-model="comunidadNombre"
                           placeholder="Comunidad">
                </div>
            </div>

            <div class="form-group">
                <label for="texto" class="col-sm-2 control-label">Texto</label>

                <div class="col-sm-10">
                    <input type="text" class="form-control" id="texto" ng-model="caja.Texto"
                           placeholder="Resumen" required>
                </div>
            </div>
            <div class="form-group">
                <label for="notas" class="col-sm-2 control-label">Notas</label>

                <div class="col-sm-10">
                    <textarea rows="9" class="form-control" id="notas" ng-model="caja.Notas"> </textarea>
                </div>
            </div>


        </form>
    </div>
    <div class="col-lg-3">
        <div class="form-group">
            <label for="comunidad" class="control-label">Filtrar/Buscar</label>

            <div>
                <table class="table table-hover table-condensed" id="tableComunidad">
                    <thead>
                    <th>
                    <td>Comunidades</td>
                    </th>
                    </thead>
                    <tbody>
                    <tr ng-click="selectComunidad(comunidad.Nombre,comunidad['Id'])"
                        ng-repeat="comunidad in comunidades | filter:ComunidadId">
                        <td>{{comunidad.Id}}</td>
                        <td>{{comunidad.Nombre|uppercase}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>

</div>

</div>
