<div class="row">
    <div class="col-lg-2">
        <blockquote> <h1><span class="glyphicon glyphicon-euro"> </span></h1></blockquote>
    </div>
    <div class="col-lg-8 filter">
        <form class="form-inline" role="form">
            <div class=form-group">
        <div class="btn-group" ng-model="button.radio" bs-radio-group>
            <label class="btn btn-default" ng-model="radioModel" btn-radio="'Comunidad'" uncheckable
                   ng-click="changeFilterBy('Comunidad.Nombre')"><span
                    class="glyphicon glyphicon-home"></span><input type="radio" class="btn btn-default"
                                                                   value="0"></label>
            <label class="btn btn-default" ng-model="radioModel" btn-radio="'Notas'" uncheckable
                   ng-click="changeFilterBy('Notas')"><span
                    class="glyphicon glyphicon-pencil"></span><input type="radio" class="btn btn-default"
                                                                     value="1"></label>
            <label class="btn btn-default" ng-model="radioModel" btn-radio="'Texto'" uncheckable
                   ng-click="changeFilterBy('Texto')"><span
                    class="glyphicon glyphicon-font"></span><input type="radio" class="btn btn-default"
                                                                   value="2"></label>
            <label class="btn btn-default" ng-model="radioModel" btn-radio="'Marcada'" uncheckable
                   ng-click="changeFilterBy('Marcada')"><span
                    class="glyphicon glyphicon-ok-circle"></span><input type="radio" class="btn btn-default"
                                                                        value="3"></label>
            <label class="btn btn-default" ng-model="radioModel" btn-radio="'Todo'" uncheckable
                   ng-click="changeFilterBy('$')"><span
                    class="glyphicon glyphicon-asterisk"></span><input type="radio" class="btn btn-default"
                                                                        value="4"></label>
            <label class="btn btn-success" ng-click="changeSearch()"> <span
                    class="glyphicon glyphicon-calendar"> </span> <span
                    class="glyphicon glyphicon-transfer"> </span> <span
                    class="glyphicon glyphicon-calendar"> </span><input type="radio" class="btn btn-default"
                                                                        value="5"></label>
            <label class="btn btn-primary" ng-click="loadData()"><span
                    class="glyphicon glyphicon-download-alt"></span><input type="radio" class="btn btn-default"
                                                                           value="6"></label>
        </div>
                <div class="input-group col-lg-3 pull-right">
                    <span class="input-group-addon"> <span class="glyphicon glyphicon-sort"></span></span>
                    <select id="selectOrder" class="form-control" ng-model="order" ng-init="order='Comunidad'"
                            ng-options="option as option for option in orderFields"></select>
                </div>
                </div>

</form>

        <!-- <p><button class="btn btn-default" ng-click=">Buscar entre fechas</button></p>-->

        <div ng-show="!isCollapsed" class="push-botton">
            <form class="form-inline" role="form" ng-submit="buscarBetween()">
                <div class="form-group col-lg-4">
                    <div class="input-group ">
                        <span class="input-group-addon"> <span
                                class="glyphicon glyphicon-calendar"> </span> </span>
                        <input class="form-control" type="text" ng-model="inicio" datepick placeholder="Inicio"/>
                    </div>
                </div>
                <div class="form-group col-lg-4">
                    <div class="input-group ">
                        <span class="input-group-addon"> <span
                                class="glyphicon glyphicon-calendar"> </span> </span>
                        <input class="form-control" type="text" ng-model="final" datepick  placeholder="Final"/>
                    </div>
                </div>
                <div class="form-group">


                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Buscar</button>
                </div>

            </form>

        </div>
        <div class="row push-botton">
            <form role="form">
                <div class="form-group col-lg-8">
                    <div class="input-group ">
                        <span ng-show="isFilter" class="input-group-addon">Filtro</span>
                        <input  id="busqueda" ng-show="isFilter" class="form-control col-lg-6" type="text" name="input"
                                ng-model="search[filtro]">
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="col-lg-2">
        <div  class="btnNew btn-group-vertical pull-right">
            <button type="button" class="btn btn-primary " ng-click="create()"><span
                    class="glyphicon glyphicon-plus-sign"> </span> Nueva Caja
            </button>


        </div>



    </div>


</div>

<div class="row">
    <div class="col-lg-2">
        <left-menu></left-menu>
    </div>
    <div class="col-lg-8">
        <div ng-repeat="caja in cajas|filter:search">

            <div class="panel panel-primary" ng-class="{'panel-danger': caja.Marcada==1, 'panel-info': caja.Marcada==0}">
                <div class="panel-heading">
                    <div class="row">

                        <div class="col-lg-10">
                          <h4> <span bs-tooltip="tooltips.borrar"  class="glyphicon glyphicon-home"> </span> {{caja['Comunidad.Nombre']}}</h4>
                        </div>
                        <div class="col-lg-2">
                            <div class="btn-group pull-right">
                                <button  data-toggle="modal" data-target="#myModal" type="button" class="btn btn-warning" ng-click="createAviso(caja)"><h5><span
                                        bs-tooltip="tooltips.borrar"  class="glyphicon glyphicon-bullhorn"></span></h5> </button>
                                <button type="button" class="btn btn-default" ng-click="marcar(caja)"><h5><span
                                        bs-tooltip="tooltips.editar"  class="glyphicon glyphicon-ok">  </span></h5></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <strong>Resumen:</strong> {{caja.Texto}}
                    <div class="btn-group pull-right">
                        <button  data-toggle="modal" data-target="#myModal" type="button" class="btn btn-danger" ng-click="getIdToRemove(caja.Id)"><span
                                bs-tooltip="tooltips.borrar"  class="glyphicon glyphicon-trash"> </span></button>
                        <button type="button" class="btn btn-default" ng-click="edit(caja.Id)"><span
                                bs-tooltip="tooltips.editar"  class="glyphicon glyphicon-edit"> </span></button>
                        <button type="button"  class="btn btn-primary" ng-click="viewMovimientos(caja.Id)"><span
                                bs-tooltip="tooltips.list" class="glyphicon glyphicon-list"> </span></button>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-lg-2">
        <div ng-show="!isCollapsed" class="alert alert-success push-botton">
            Desde el {{(inicio|date)}} hasta el {{(final|date)}}
        </div>
    </div>
</div>
</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                ¿Seguro que desea borrar la caja?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal"  ng-click="remove(deleteId)">Borrar</button>
            </div>
        </div>
    </div>
</div>