<div class="row">
    <div class="col-lg-2">
        <blockquote> <h1><span class="glyphicon glyphicon-home"> </span></h1></blockquote>
        <left-menu></left-menu>
    </div>
    <div id="comunidades" class="col-lg-8">
        <div class="input-group col-lg-3 pull-right">
            <span class="input-group-addon"> <span class="glyphicon glyphicon-sort"></span></span>
            <select id="selectOrder" class="form-control" ng-model="order" ng-init="order='Comunidad'"
                    ng-options="option as option for option in orderFields"></select>
        </div>
        <p>
            <button type="button" class="btn btn-primary" ng-click="create()"><span
                    class="glyphicon glyphicon-plus-sign"> </span> Nueva Comunidad</button>

        </p>


        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">
                <h5>Filtrar:</h5>
                <p><input class="form-control col-lg-6" type="text" name="input"
                                        ng-model="search"></p>
            </div>


            <table class="table table-hover">
                <thead>
                <th>Comunidad</th>
                <th>CIF</th>
                <th>Presidente</th>
                <th>Acciones</th>
                </thead>
                <tbody>
                <tr ng-repeat="comunidad in comunidades | filter:search">
                    <td>{{comunidad.Nombre}}</td>
                    <td>{{comunidad.Cif}}</td>
                    <td>{{comunidad.Presidente}}</td>
                    <td>
                        <div class="btn-group">
                            <button data-toggle="modal" data-target="#myModal"  type="button" class="btn btn-danger" ng-click="getIdToRemove(comunidad.Id)"><span
                                    class="glyphicon glyphicon-trash"> </span></button>
                            <button type="button" class="btn btn-default" ng-click="edit({{comunidad.Id}})"><span
                                    class="glyphicon glyphicon-edit"> </span></button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                ¿Seguro que desea borrar la Comunidad?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal"  ng-click="delete(deleteId)">Borrar</button>
            </div>
        </div>
    </div>
</div>



