<div class="row">
    <div class="col-lg-2">
        <blockquote><h3>Crear/Editar Comunidad</h3></blockquote>
        <left-menu></left-menu>
    </div>

    <div class="col-lg-7 detail">

        <form class="form-horizontal" role="form" ng-submit="submit()">
            <div class="form-group">
                <label for="nombre" class="col-sm-4 control-label">Nombre</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="nombre" ng-model="comunidad.Nombre" placeholder="Nombre" required>
                </div>
            </div>
            <div class="form-group">
                <label for="cif" class="col-sm-4 control-label">CIF</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="cif" ng-model="comunidad.Cif" placeholder="Cif">
                </div>
            </div>
            <div class="form-group">
                <label for="presidente" class="col-sm-4 control-label">Presidente</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="presidente" ng-model="comunidad.Presidente" placeholder="Presidente">
                </div>
            </div>
            <div class="form-group">
                <label for="direccion" class="col-sm-4 control-label">Dirección</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="direccion" ng-model="comunidad.Direccion" placeholder="Direccion">
                </div>
            </div>
            <div class="form-group">
                <label for="cuenta" class="col-sm-4 control-label">Número de Cuenta</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="cuenta" ng-model="comunidad.Cuenta" placeholder="Cuenta">
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-6 col-sm-8">
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-lg-3">


    </div>


</div>