<div class="row">
    <div class="col-lg-2">
        <blockquote> <h1><span class="glyphicon glyphicon-folder-open"> </span></h1></blockquote>
    </div>


    <div class="col-lg-8">

            <div class="btn-group" ng-model="button.radio" bs-radio-group>
                <label class="btn btn-default" ng-model="radioModel" btn-radio="'FechaEntrega'" uncheckable
                       ng-click="changeFilterBy('FechaEntrega')"><span
                        class="glyphicon glyphicon-calendar"> </span><input type="radio" class="btn btn-default"
                                                                        value="0"></label>
                <label class="btn btn-default" ng-model="radioModel" btn-radio="'Comunidad'" uncheckable
                       ng-click="changeFilterBy('Comunidad.Nombre')"><span
                        class="glyphicon glyphicon-home"> </span><input type="radio" class="btn btn-default"
                                                                        value="1"></label>
                <label class="btn btn-default" ng-model="radioModel" btn-radio="'Notas'" uncheckable
                       ng-click="changeFilterBy('Notas')"><span
                        class="glyphicon glyphicon-pencil"> </span><input type="radio" class="btn btn-default"
                                                                        value="2"></label>
                <label class="btn btn-default" ng-model="radioModel" btn-radio="'Marcada'" uncheckable
                       ng-click="changeFilterBy('Marcada')"><span
                        class="glyphicon glyphicon-ok-circle"> </span><input type="radio" class="btn btn-default"
                                                                        value="3"></label>
                <label class="btn btn-default" ng-model="radioModel" btn-radio="'Todo'" uncheckable
                       ng-click="changeFilterBy('$')"><span
                        class="glyphicon glyphicon-asterisk"> </span><input type="radio" class="btn btn-default"
                                                                             value="4"></label>
                <label class="btn btn-success" ng-click="changeSearch()"> <span
                        class="glyphicon glyphicon-calendar"> </span> <span
                        class="glyphicon glyphicon-transfer"> </span> <span
                        class="glyphicon glyphicon-calendar"> </span></label>
                <label class="btn btn-primary" ng-click="loadData()"><span
                        class="glyphicon glyphicon-download-alt"> </span><input type="radio" class="btn btn-default"
                                                                             value="5"></label>
            </div>
        <div class="input-group col-lg-3 pull-right">
            <span class="input-group-addon"><a ng-click="changeOrder()"><span  class="glyphicon glyphicon-sort"></span></a> </span>
            <select id="selectOrder" class="form-control" ng-model="order" ng-init="order='FechaEntrega'"
                    ng-options="option as option for option in orderFields"></select>
        </div>


        <!-- <p><button class="btn btn-default" ng-click=">Buscar entre fechas</button></p>-->

        <div ng-show="!isCollapsed" class="push-botton">
            <form class="form-inline" role="form" ng-submit="buscarBetween()">
                <div class="form-group col-lg-4">
                    <div class="input-group ">
                        <span class="input-group-addon"> <span
                                class="glyphicon glyphicon-calendar"> </span> </span>
                        <input class="form-control" type="text" ng-model="inicio" datepick placeholder="Inicio"/>
                    </div>
                </div>
                <div class="form-group col-lg-4">
                    <div class="input-group ">
                        <span class="input-group-addon"> <span
                                class="glyphicon glyphicon-calendar"> </span> </span>
                        <input class="form-control" type="text" ng-model="final" datepick  placeholder="Final"/>
                    </div>
                </div>
                <div class="form-group">


                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Buscar</button>
                </div>

            </form>

        </div>
        <div class="row push-botton">
            <form role="form">
                <div class="form-group col-lg-8">
                    <div class="input-group ">
                        <span ng-show="isFilter" class="input-group-addon">Filtro</span>
                        <input  id="busqueda" ng-show="isFilter" class="form-control col-lg-6" type="text" name="input"
                                ng-model="search[filtro]">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-lg-2">
        <div class="btnNew btn-group-vertical">
            <button type="button" class="btn btn-primary " ng-click="create()"><span
                    class="glyphicon glyphicon-plus-sign"> </span> Nueva Contabilidad
            </button>
            <button type="button" class="btn btn-warning " ng-click=""><span
                    class="glyphicon glyphicon-calendar"> </span> Ver en Calendario
            </button>
        </div>

    </div>



</div>

<div class="row">
    <div class="col-lg-2">
        <left-menu></left-menu>
    </div>
    <div class="col-lg-8">
    <div  ng-repeat="contabilidad in contabilidades|filter:search|orderBy:order:reverse">

        <div class="panel" ng-class="{'panel-danger': contabilidad.Marcada==1, 'panel-info': contabilidad.Marcada==0}" >
            <div class="panel-heading">
                <div class="row">
                    <div class="col-lg-9">
                        <div class="col-lg-6">
                            <h4><strong>{{contabilidad['Comunidad.Nombre']}}</strong> <span class="label label-success"> {{contabilidad.FechaEntrega|date}}</span>
                            </h4>
                        </div>

                        <div class="col-lg-6">
                            <div class="pull-right"><h6><strong>Resumen:</strong> {{contabilidad.Resumen}}</h6></div>
                        </div>

                    </div>
                    <div class="col-lg-3">
                        <div class="btn-group pull-right">
                            <button data-toggle="modal" data-target="#myModal" type="button" class="btn btn-danger"
                                    ng-click="getIdToRemove(contabilidad.Id)"><span
                                    class="glyphicon glyphicon-trash"> </span></button>
                            <button  type="button" class="btn btn-primary"
                                    ng-click="edit(contabilidad.Id)"><span
                                    class="glyphicon glyphicon-edit"> </span></button>
                            <button type="button" class="btn btn-default" ng-click="marcar(contabilidad)"><span
                                     class="glyphicon glyphicon-ok"> </span></button>
                        </div>
                    </div>


                    <div class="checkbox">

                    </div>


                </div>
            </div>
        </div>
    </div>
    </div>
    <div class="col-lg-2">
        <div ng-show="!isCollapsed" class="alert alert-success push-botton">
            Desde el {{(inicio|date)}} hasta el {{(final|date)}}
        </div>
    </div>
</div>



<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                ¿Seguro que desea borrar la entrega?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="remove(deleteId)">Borrar
                </button>
            </div>
        </div>
    </div>
</div>