<div class="row">
    <div class="col-lg-2">
        <blockquote><h1><span class="glyphicon glyphicon-briefcase"> </span></h1></blockquote>
    </div>
    <div class="col-lg-8 filter">
        <form class="form-inline" role="form">
            <div class=form-group">
                <div class="btn-group" ng-model="button.radio" bs-radio-group>
                    <label class="btn btn-default" ng-model="radioModel" btn-radio="'Comunidad'" uncheckable
                           ng-click="changeFilterBy('ComunidadNombre')"><span
                            class="glyphicon glyphicon-home"></span><input type="radio" class="btn btn-default"
                                                                           value="0"></label>
                    <label class="btn btn-default" ng-model="radioModel" btn-radio="'Telefonos'" uncheckable
                           ng-click="changeFilterBy('Telefonos')"><span
                            class="glyphicon glyphicon-phone-alt"></span><input type="radio" class="btn btn-default"
                                                                             value="1"></label>
                    <label class="btn btn-default" ng-model="radioModel" btn-radio="'Cif'" uncheckable
                           ng-click="changeFilterBy('Cif')"><span
                            class="glyphicon glyphicon-barcode "></span><input type="radio" class="btn btn-default"
                                                                               value="2"></label>
                    <label class="btn btn-default" ng-model="radioModel" btn-radio="'Contacto'" uncheckable
                           ng-click="changeFilterBy('Contacto')"><span
                            class="glyphicon glyphicon-user"></span><input type="radio" class="btn btn-default"
                                                                           value="3"></label>
                    <label class="btn btn-default" ng-model="radioModel" btn-radio="'Marcada'" uncheckable
                           ng-click="changeFilterBy('Observaciones')"><span
                            class="glyphicon glyphicon-eye-open"></span><input type="radio" class="btn btn-default"
                                                                               value="4"></label>
                    <label class="btn btn-default" ng-model="radioModel" btn-radio="'Marcada'" uncheckable
                           ng-click="changeFilterBy('Marcada')"><span
                            class="glyphicon glyphicon-ok-circle "></span><input type="radio" class="btn btn-default"
                                                                                 value="5"></label>
                    <label class="btn btn-default" ng-model="radioModel" btn-radio="'Todo'" uncheckable
                           ng-click="changeFilterBy('$')"><span
                            class="glyphicon glyphicon-asterisk "></span><input type="radio" class="btn btn-default"
                                                                                value="6"></label>
                    <label class="btn btn-primary" ng-click="loadData()"><span
                            class="glyphicon glyphicon-download-alt"></span><input type="radio" class="btn btn-default"
                                                                                   value="8"></label>
                    <button type="button" class="btn btn-info " ng-click="create()"><span
                            class="glyphicon glyphicon-plus-sign"> </span> Nueva Empresa
                    </button>
                </div>

                <div class="input-group col-lg-3 pull-right">
                    <span class="input-group-addon"> <span class="glyphicon glyphicon-sort"></span></span>
                    <select id="selectOrder" class="form-control" ng-model="order" ng-init="order='Comunidad'"
                            ng-options="option as option for option in orderFields"></select>
                </div>

            </div>

        </form>

        <!-- <p><button class="btn btn-default" ng-click=">Buscar entre fechas</button></p>-->


        <div class="row push-botton">
            <form role="form">
                <div class="form-group col-lg-8">
                    <div class="input-group ">
                        <span ng-show="isFilter" class="input-group-addon">Filtro</span>
                        <input  id="busqueda" ng-show="isFilter" class="form-control col-lg-6" type="text" name="input"
                                ng-model="search[filtro]">
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="col-lg-2">
        <div class="btnNew btn-group-vertical pull-right">

        </div>
    </div>


</div>
<div class="row">
    <div class="col-lg-2">
        <left-menu></left-menu>
    </div>
    <div class="col-lg-8">
        <div ng-repeat="empresa in empresas|filter:search">

            <div class="panel panel-primary"
                 ng-class="{'panel-danger': empresa.Marcada==1, 'panel-info': empresa.Marcada==0}">
                <div class="panel-heading">
                    <div class="row">

                        <div class="col-lg-12">
                            <h5 class="pull-left"><strong>{{empresa.Nombre}}</strong> <span
                                    bs-tooltip="tooltips.borrar" class="glyphicon glyphicon-user"> </span> {{empresa.Contacto}} </h5><h5 class="pull-right">

                            <span bs-tooltip="tooltips.borrar" class="glyphicon glyphicon-home"> </span>

                            {{empresa['ComunidadNombre']}}
                            <span bs-tooltip="tooltips.borrar" class="glyphicon glyphicon-barcode"></span>
                            {{empresa.Cif}}
                        </h5>
                        </div>
                        <!-- <div class="col-lg-4">
                             <div class="btn-group pull-right">
                                 <button  data-toggle="modal" data-target="#myModal" type="button" class="btn btn-warning" ng-click="createAviso(empresa)"><span
                                         bs-tooltip="tooltips.borrar"  class="glyphicon glyphicon-bullhorn"></span></button>
                                 <button type="button" class="btn btn-default" ng-click="marcar(empresa)"><span
                                         bs-tooltip="tooltips.editar"  class="glyphicon glyphicon-ok">  </span></button>
                                 <button  data-toggle="modal" data-target="#myModal" type="button" class="btn btn-danger" ng-click="getIdToRemove(empresa.Id)"><span
                                         bs-tooltip="tooltips.borrar"  class="glyphicon glyphicon-trash"> </span></button>
                                 <button type="button" class="btn btn-default" ng-click="edit(empresa.Id)"><span
                                         bs-tooltip="tooltips.editar"  class="glyphicon glyphicon-edit"> </span></button>
                                 <button type="button"  class="btn btn-primary" ng-click="viewMovimientos(empresa)"><span
                                         bs-tooltip="tooltips.list" class="glyphicon glyphicon-list"> </span></button>
                             </div>
                         </div>-->
                    </div>
                </div>
                <div class="panel-body">
                    <div class="col-lg-5">
                        <p><strong>Observaciones:</strong>{{empresa.Observaciones}}</p>
                        <p><strong>Dirección:</strong>{{empresa.Direccion}}</p>
                    </div>
                    <div class="col-lg-3">
                            <span ng-repeat="telefono in empresa.Telefonos">
                                <span class="label label-success">{{telefono}}</span>
                            </span>
                    </div>
                    <div class="col-lg-4 btn-group pull-right">
                        <button data-toggle="modal" data-target="#myModal" type="button" class="btn btn-warning"
                                ng-click="createAviso(empresa)"><span
                                bs-tooltip="tooltips.borrar" class="glyphicon glyphicon-bullhorn"></span></button>
                        <button type="button" class="btn btn-default" ng-click="marcar(empresa)"><span
                                bs-tooltip="tooltips.editar" class="glyphicon glyphicon-ok">  </span></button>
                        <button data-toggle="modal" data-target="#myModal" type="button" class="btn btn-danger"
                                ng-click="getIdToRemove(empresa.Id)"><span
                                bs-tooltip="tooltips.borrar" class="glyphicon glyphicon-trash"> </span></button>
                        <button type="button" class="btn btn-default" ng-click="edit(empresa.Id)"><span
                                bs-tooltip="tooltips.editar" class="glyphicon glyphicon-edit"> </span></button>

                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-lg-2">

    </div>
</div>
</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                ¿Seguro que desea borrar la empresa?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="remove(deleteId)">Borrar
                </button>
            </div>
        </div>
    </div>
</div>