<div class="row">
    <div class="col-lg-2">
        <blockquote><h3>Crear/Editar Entrega</h3></blockquote>
        <left-menu></left-menu>
    </div>
    <div class="col-lg-7 detail">


        <form class="form-horizontal" role="form" ng-submit="submit()">
            <div class="form-group">
                <label for="comunidad" class="col-sm-2 control-label">Comunidad</label>

                <div class="col-sm-10">
                    <input type="text" class="form-control" id="comunidad" ng-model="comunidadNombre"
                           placeholder="Comunidad">
                </div>
            </div>
            <div class="form-group">
                <label for="tipo" class="col-sm-2 control-label">Tipo</label>

                <div class="col-sm-10">
                    <select class="form-control" id="tipo" ng-model="selectedOption"
                            ng-options="tipo.Id as tipo.Tipo for tipo in tipos">
                        <option value="">- - Selecciona - -</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="fechaE" class="col-sm-2 control-label">Fecha Entrega</label>

                <div class="col-sm-10">
                    <h4>{{entrega.FechaEntrega|date}}</h4>

                    <div id="fechaE" ng-model="entrega.FechaEntrega" datepick></div>

                </div>
            </div>
            <div class="form-group">
                <label for="nombre" class="col-sm-2 control-label">Nombre</label>

                <div class="col-sm-10">
                    <input type="text" class="form-control" id="nombre" ng-model="entrega.Nombre" placeholder="Nombre"
                           required>
                </div>
            </div>
            <div class="form-group">
                <label for="descripcion" class="col-sm-2 control-label">Descripción</label>

                <div class="col-sm-10">
                    <textarea rows="9" class="form-control" id="descripcion" ng-model="entrega.Descripcion"> </textarea>
                </div>
            </div>






            <div class="form-group">
                <div class="col-sm-offset-6 col-sm-6">
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-lg-3">
        <div class="form-group">
            <label for="comunidad" class=" control-label">Filtrar/Buscar</label>

            <div>

                <table class="table table-hover table-condensed" id="tableComunidad">
                    <thead>
                    <th>
                    <td>Comunidades</td>
                    </th>
                    </thead>
                    <tbody>
                    <tr ng-click="selectComunidad(comunidad.Nombre,comunidad.Id)"
                        ng-repeat="comunidad in comunidades | filter:ComunidadId">
                        <td>{{comunidad.Id}}</td>
                        <td>{{comunidad.Nombre|uppercase}}</td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>