<div class="row">
    <div class="col-lg-2">
        <blockquote><h3><span class="glyphicon glyphicon-flag"> </span> Incidencias</h3></blockquote>
    </div>


    <div class="col-lg-8">

        <div class="btn-group" ng-model="button.radio" bs-radio-group>
            <label class="btn btn-default" ng-model="radioModel" btn-radio="'FechaIncidencia'" uncheckable
                   ng-click="changeFilterBy('FechaIncidencia')"><span
                    class="glyphicon glyphicon-calendar"> </span><input type="radio" class="btn btn-default"
                                                                        value="0"></label>
            <label class="btn btn-default" ng-model="radioModel" btn-radio="'Breve'" uncheckable
                   ng-click="changeFilterBy('Breve')"><span
                    class="glyphicon glyphicon-font"> </span><input type="radio" class="btn btn-default"
                                                                    value="1"></label>
            <label class="btn btn-default" ng-model="radioModel" btn-radio="'Descripcion'" uncheckable
                   ng-click="changeFilterBy('Descripcion')"><span
                    class="glyphicon glyphicon-edit"> </span><input type="radio" class="btn btn-default"
                                                                    value="2"></label>
            <label class="btn btn-default" ng-model="radioModel" btn-radio="'Atencion'" uncheckable
                   ng-click="changeFilterBy('Atencion')"><span
                    class="glyphicon glyphicon-star"> </span><input type="radio" class="btn btn-default"
                                                                    value="3"></label>
            <label class="btn btn-default" ng-model="radioModel" btn-radio="'PersonaNombre'" uncheckable
                   ng-click="changeFilterBy('PersonaNombre')"><span
                    class="glyphicon glyphicon-user"> </span><input type="radio" class="btn btn-default"
                                                                    value="3"></label>
            <label class="btn btn-default" ng-model="radioModel" btn-radio="'Marcada'" uncheckable
                   ng-click="changeFilterBy('Marcada')"><span
                    class="glyphicon glyphicon-exclamation-sign"> </span><input type="radio" class="btn btn-default"
                                                                                value="4"></label>
            <label class="btn btn-default" ng-model="radioModel" btn-radio="'Resuelta'" uncheckable
                   ng-click="changeFilterBy('Resuelta')"><span
                    class="glyphicon glyphicon-ok-circle"> </span><input type="radio" class="btn btn-default"
                                                                         value="4"></label>
            <label class="btn btn-default" ng-model="radioModel" btn-radio="'Telefonos'" uncheckable
                   ng-click="changeFilterBy('Telefonos')"><span
                    class="glyphicon glyphicon-phone-alt"> </span><input type="radio" class="btn btn-default"
                                                                         value="5"></label>
            <label class="btn btn-default" ng-model="radioModel" btn-radio="'Expediente'" uncheckable
                   ng-click="changeFilterBy('Expediente')"><span
                    class="glyphicon glyphicon-barcode"> </span><input type="radio" class="btn btn-default"
                                                                       value="10"></label>
            <label class="btn btn-default" ng-model="radioModel" btn-radio="'Prioridad'" uncheckable
                   ng-click="changeFilterBy('Prioridad')"><span
                    class="glyphicon glyphicon-sort"> </span><input type="radio" class="btn btn-default"
                                                                    value="6"></label>
            <label class="btn btn-default" ng-model="radioModel" btn-radio="'Todo'" uncheckable
                   ng-click="changeFilterBy('$')"><span
                    class="glyphicon glyphicon-asterisk"> </span><input type="radio" class="btn btn-default"
                                                                        value="7"></label>

            <label class="btn btn-success" ng-click="changeSearch()"> <span
                    class="glyphicon glyphicon-calendar"> </span> <span
                    class="glyphicon glyphicon-transfer"> </span> <span
                    class="glyphicon glyphicon-calendar"> </span><input type="radio" class="btn btn-default"
                                                                        value="8"></label>
            <label class="btn btn-primary" ng-click="loadData()"><span
                    class="glyphicon glyphicon-download-alt"> </span><input type="radio" class="btn btn-default"
                                                                            value="9"></label>
        </div>
        <div class="input-group col-lg-3 pull-right">
            <span class="input-group-addon"><a ng-click="changeOrder()"><span  class="glyphicon glyphicon-sort"></span></a> </span>
            <select id="selectOrder" class="form-control" ng-model="order" ng-init="order='FechaIncidencia'"
                    ng-options="option as option for option in orderFields"></select>
        </div>




        <!-- <p><button class="btn btn-default" ng-click=">Buscar entre fechas</button></p>-->

        <div ng-show="!isCollapsed" class="push-botton">
            <form class="form-inline" role="form" ng-submit="buscarBetween()">
                <div class="form-group col-lg-4">
                    <div class="input-group ">
                        <span class="input-group-addon"> <span
                                class="glyphicon glyphicon-calendar"> </span> </span>
                        <input class="form-control" type="text" ng-model="inicio" datepick placeholder="Inicio"/>
                    </div>
                </div>
                <div class="form-group col-lg-4">
                    <div class="input-group ">
                        <span class="input-group-addon"> <span
                                class="glyphicon glyphicon-calendar"> </span> </span>
                        <input class="form-control" type="text" ng-model="final" datepick placeholder="Final"/>
                    </div>
                </div>
                <div class="form-group">


                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Buscar</button>
                </div>

            </form>

        </div>
        <div class="row push-botton">
            <form role="form" ng-submit="buscarBetween()">
                <div class="form-group col-lg-8">
                    <div class="input-group ">
                        <span ng-show="isFilter" class="input-group-addon">Filtro</span>
                        <input  id="busqueda" ng-show="isFilter" class="form-control col-lg-6" type="text" name="input"
                                ng-model="search[filtro]">
                    </div>
                </div>
            </form>
        </div>


    </div>

    <div class="col-lg-2">
        <div class="btnNew btn-group-vertical">
            <button type="button" class="btn btn-primary " ng-click="create()"><span
                    class="glyphicon glyphicon-plus-sign"> </span> Nueva Tarea
            </button>
            <button type="button" class="btn btn-warning " ng-click=""><span
                    class="glyphicon glyphicon-calendar"> </span> Ver en Calendario
            </button>
            <button type="button" class="btn btn-danger " ng-click="toTrash()"><span
                    class="glyphicon glyphicon-trash"> </span> Papelera
            </button>
        </div>


    </div>
</div>


<div class="row">
    <div class="col-lg-2">
        <left-menu></left-menu>
    </div>
    <div class="col-lg-8">

        <div class="row">
            <div class="col-lg-12">
                <div class="panel-group" id="accordion">
                    <div ng-repeat="incidencia in incidencias|cleanNull|filter:search|orderBy:order:reverse" class="panel" ng-class="panelClass(incidencia)">
                        <div class=" panel-heading" >
                            <div class="panel-title" >
                                <div class="col-lg-9">
                                   <h4><a data-toggle="collapse" data-parent="#accordion"  ng-class="{'text-danger': incidencia.Marcada==1, 'text-success': incidencia.Marcada==0}"
                                                                 data-target="#collapse{{$index}}" ng-click="loadSeguimiento(incidencia.Id)"> <strong>{{incidencia.Breve}}</strong></a></h4>
                                </div>
                                <div class="col-lg-3">
                                    <h4 style="display: inline"> <span  class="label label-success">{{incidencia.FechaIncidencia}} </span>

                                    </h4>
                                    &nbsp;&nbsp;<h5 style="display: inline"><span class="label label-info"><span
                                        class="glyphicon glyphicon-barcode"> </span> {{incidencia.Expediente}}</span></h5>

                                 </div>

                            </div>

                            <div class="col-lg-8">
                                <h5>
                               <span  class="margin-both label label-primary"><span
                                       class="glyphicon glyphicon-home"> </span>    {{incidencia.ComunidadNombre|uppercase}} </span>&#32;

                               <span class="badge"><span
                                       class="glyphicon glyphicon-user"> </span> {{incidencia.PersonaNombre|uppercase}}</span>
                               <span  class="label label-info"><span
                                       class="glyphicon glyphicon-star"> </span> {{incidencia.Atencion|uppercase}}&#32; </span>&#32;

                                    </h5>
                            </div>
                            <div class="col-lg-4">
                                <div class="btn-group">
                                    <button ng-show="!incidencia.Eliminado" data-toggle="modal" data-target="#myModal" type="button"
                                            class=" btn btn-sm btn-danger"
                                            ng-click="getIdToRemove(incidencia.Id)"><span
                                            class="glyphicon glyphicon-trash"> </span></button>
                                    <button ng-show="incidencia.Eliminado" data-toggle="modal" data-target="#myModal" type="button"
                                            class=" btn btn-sm btn-danger"
                                            ng-click="purgueConfirm(incidencia.Id)"><span
                                            class="glyphicon glyphicon-remove-circle"> </span></button>
                                    <button ng-show="incidencia.Eliminado" type="button"
                                            class=" btn btn-sm btn-success"
                                            ng-click="restore(incidencia.Id)"><span
                                            class="glyphicon glyphicon-repeat"> </span></button>
                                    <button type="button" class="btn  btn-sm btn-primary"
                                            ng-click="edit(incidencia.Id)"><span
                                            class="glyphicon glyphicon-edit"> </span></button>
                                    <button type="button" class="btn  btn-sm btn-info"
                                            ng-click="generateTarea(incidencia)"><span
                                            class="glyphicon glyphicon-list-alt"> </span></button>
                                    <button type="button" class="btn  btn-sm btn-info"
                                            ng-click="generateAviso(incidencia.Id)"><span
                                            class="glyphicon glyphicon-bullhorn"> </span></button>
                                    <button type="button" class="btn  btn-sm btn-warning"
                                            ng-click="marcar(incidencia)"><span
                                            class="glyphicon glyphicon-exclamation-sign"> </span></button>
                                    <button type="button" class="btn  btn-sm btn-default"
                                            ng-click="resolve(incidencia)"><span
                                            class="glyphicon glyphicon-ok"> </span></button>

                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-lg-1">
                                <div class="media">
                                    <div class="">
                                        <div class="media-object">
                                            <div class="media-object"><h3><span ng-class="prioridadClass(incidencia)" class="label">{{incidencia.Prioridad}} </span></h3>  </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="col-lg-7">
                                <h5><strong>Descripción:</strong> {{incidencia.Descripcion}}</h5>
                            </div>
                            <div class="col-lg-4">
                                <div>


                                    <h4>Teléfonos:  <span  ng-repeat=" telefono in incidencia.Telefonos"> <span class="label label-warning"><span
                                            class="glyphicon glyphicon-phone-alt"> </span> {{telefono}} </span>&nbsp;</span></h4>

                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div id="collapse{{$index}}" class="panel-collapse collapse">
                            <div class="panel-body">

                                <table class="table table-hover table-condensed">
                                    <thead>
                                    <th>Id</th>
                                    <th>FechaSeguimiento</th>
                                    <th>Descripcion</th>

                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="seguimiento in seguimientos|cleanNull ">
                                        <td>{{seguimiento.Id}}</td>
                                        <td>{{seguimiento.FechaSeguimiento}}</td>
                                        <td>{{seguimiento.Descripcion}}</td>
                                        <td> <button data-toggle="modal" data-target="#myModal" type="button" class="btn btn-danger btn-xs"
                                                     ng-click="selectEmpresaId(empresa)"><span
                                                class="glyphicon glyphicon-plus"> </span></button></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!--
                 <div class="media">
                     <div class="pull-left" href="#">
                         <h4 class="media-object"> <span ng-class="prioridadClass(incidencia)" class="label">{{incidencia.Prioridad}} </span>
                         </h4>
                     </div>
                     <div class="media-body">
                         <div class="btn-group pull-right">
                             <button data-toggle="modal" data-target="#myModal" type="button" class=" btn btn-danger"
                                     ng-click="getIdToRemove(incidencia.Id)"><span
                                     class="glyphicon glyphicon-trash"> </span></button>
                             <button  type="button" class="btn  btn-primary"
                                      ng-click="edit(incidencia.Id)"><span
                                     class="glyphicon glyphicon-edit"> </span></button>
                             <button type="button" class="btn  btn-default" ng-click="marcar(incidencia)"><span
                                     class="glyphicon glyphicon-ok"> </span></button>
                         </div>
                         <h4 class="media-heading"><strong>Resumen:</strong> {{incidencia.Nombre}}<strong></h4>
                         <h5> Descripción:</strong> {{incidencia.Descripcion}}</h5>

                     </div>-->

            </div>

            <!--
            <div class="col-lg-1">
                <h4> <span ng-class="prioridadClass(incidencia)" class="label">{{incidencia.Prioridad}} </span>
                </h4>
            </div>

            <div class="col-lg-4">
                <h4 <span class="label label-success"> {{incidencia.FechaTarea|date}}</span>
                </h4>
            </div>

            <div class="col-lg-7">
                <div class=""><h6> <strong>Resumen:</strong> {{incidencia.Nombre}}<strong> Descripción:</strong> {{incidencia.Descripcion}}</h6></div>
            </div>
-->
        </div>
        <!-- <div class="col-lg-3">
             <div class="btn-group pull-right">
                 <button data-toggle="modal" data-target="#myModal" type="button" class="btn-sm btn btn-danger"
                         ng-click="getIdToRemove(incidencia.Id)"><span
                         class="glyphicon glyphicon-trash"> </span></button>
                 <button  type="button" class="btn btn-sm btn-primary"
                          ng-click="edit(incidencia.Id)"><span
                         class="glyphicon glyphicon-edit"> </span></button>
                 <button type="button" class="btn btn-sm btn-default" ng-click="marcar(incidencia)"><span
                         class="glyphicon glyphicon-ok"> </span></button>
             </div>
         </div>-->


        <div class="checkbox">

        </div>


    </div>
    <div class="col-lg-2">
        <div ng-show="!isCollapsed" class="alert alert-success push-botton">
            Desde el {{(inicio|date)}} hasta el {{(final|date)}}
        </div>
    </div>

</div>
</div>


</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                ¿Seguro que desea borrar <span ng-show="purgar">definitivamente</span> la entrega?
                <span ng-show="purgar">Esto no podrá deshacerse</span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button ng-show="!purgar"type="button" class="btn btn-primary" data-dismiss="modal" ng-click="remove(deleteId)">Borrar
                </button>
                <button ng-show="purgar"type="button" class="btn btn-primary" data-dismiss="modal" ng-click="purgue(deleteId)">Purgar
                </button>
            </div>
        </div>
    </div>
</div>