<div class="row">
    <div class="col-lg-2">
        <blockquote><h3>Crear/Editar Persona</h3></blockquote>
        <left-menu></left-menu>
    </div>

    <div class="col-lg-7 detail">
        <form class="form-horizontal" role="form" ng-submit="submit()">
            <div class="form-group">

                <button type="submit" class="btn btn-primary pull-right">Salvar</button>

            </div>
            <div class="form-group">
                <label for="comunidad" class="col-sm-2 control-label">Comunidad</label>

                <div class="col-sm-4">
                    <input type="text" class="form-control" id="comunidad" ng-model="comunidadNombre"
                           placeholder="Comunidad" required>
                </div>

                    <label for="origen" class="col-sm-1 control-label">Origen</label>

                    <div class="col-sm-5">
                        <input type="text" class="form-control" id="origen" ng-model="incidencia.Origen"
                               placeholder="Origen">
                    </div>

            </div>

            <div class="form-group">
                <label for="persona" class="col-sm-2 control-label">Persona</label>

                <div class="col-sm-4">
                    <input type="text" class="form-control" id="persona" ng-model="incidencia.PersonaNombre"
                           placeholder="Persona" required>
                </div>

                    <label for="fechaM" class="col-sm-1 control-label">Fecha:</label>
                    <div class="col-sm-5">
                        <input id="fechaM" class="form-control" ng-model="incidencia.FechaIncidencia"  placeholder="Fecha" datepick/>
                    </div>

            </div>

            <div class="form-group">
                <label for="breve" class="col-sm-2 control-label">Breve</label>

                <div class="col-sm-10">
                    <input type="text" class="form-control" id="breve" ng-model="incidencia.Breve"
                           placeholder="Breve" required>
                </div>
            </div>
             <div class="form-group">
                <label for="expediente" class="col-sm-2 control-label">Breve</label>

                <div class="col-sm-10">
                    <input type="text" class="form-control" id="expediente" ng-model="incidencia.Expediente"
                           placeholder="Número Expediente" required>
                </div>
            </div>
            <div class="form-group">
                <label for="descripcion" class="col-sm-2 control-label">Descripcion</label>

                <div class="col-sm-10">
                    <textarea rows="5" class="form-control" id="descripcion" ng-model="incidencia.Descripcion"> </textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="atencion" class="col-sm-2 control-label">A la atención de</label>

                <div class="col-sm-4">
                    <input type="text" class="form-control" id="atencion" ng-model="incidencia.Atencion"
                           placeholder="Dirección" />
                </div>
                <div class="col-sm-2">
                <label for="prioridad" class="control-label">Prioridad:  <span  ng-class="prioridadClass(selectedOption)" class="label">{{selectedOption}}</span></label>
                </div>
                <div class="col-sm-4">
                    <select  id="prioridad"  class="form-control" ng-model="selectedOption" ng-options="prioridad.value as prioridad.label for prioridad in prioridadValues" >
                        <option value="">-- Cambiar Prioridad --</option>
                    </select>
                </div>
            </div>

            <div class="form-group">

            </div>
            <div class="form-group">
                <label for="phone" class="col-sm-2 control-label">Añadir Teléfonos</label>
                <div  class="col-sm-6">
                    <input type="text" class="form-control" id="phone" ng-model="telefono"
                           placeholder="Inserta Teléfono" />
                </div>
                <div  class="col-sm-4">
                    <div class="btn-group">
                        <button type="button" ng-click="addPhone()" class="btn btn-default">Añadir</button>
                        <button  type="button" ng-click="deletePhone()" class="btn btn-danger">Borrar Último</button>
                    </div>
                </div>

            </div>
            <div class="form-group">
                <label  class="col-sm-2 control-label">Teléfonos añadidos</label>
                <div  class="col-sm-8">
                    <table class="">
                        <tr ng-repeat="telefono in telefonos">
                            <td ><h4><span class="label label-success">{{telefono}}</span></h4></td>
                        </tr>
                    </table>
                    <div id="alert"></div>
                </div>
                <div  class="col-sm-2">
                </div>
            </div>
        </form>
    </div>
    <div class="col-lg-3">
        <div class="form-group">
            <label for="asociar" class="col-sm-12 control-label">Asociar a:</label>
            <div class="col-sm-12">
                <div id="asociar" class="btn-group" ng-model="button.radio" bs-radio-group>
                    <label ng-click="showAsociation('persona')" class="btn btn-default"><input  type="radio" class="btn btn-default" value="0"> Persona</label>
                    <label ng-click="showAsociation('comunidad')" class="btn btn-default"><input  type="radio" class="btn btn-default" value="1"> Comunidad</label>
                </div>
            </div>
        </div>
        <div id="alertComunidad"></div>
                <div class="form-group">
                    <label for="filtro" class="control-label">Filtro Asociar a:</label>
                    <input type="text" class="form-control" id="filtro" ng-model="search"
                           placeholder="Filtrar">
                    <div>
                        <table  ng-show="selectPersona" class="table table-hover table-condensed">
                            <thead>
                            <th>Id</th>
                            <th>Persona</th>

                            </thead>
                            <tbody>
                            <tr ng-repeat="persona in personas|cleanNull|filter:search ">
                                <td>{{persona.Id}}</td>
                                <td>{{persona.Nombre}}</td>
                                <td> <button data-toggle="modal" data-target="#myModal" type="button" class="btn btn-danger btn-xs"
                                             ng-click="selectPersonaId(persona)"><span
                                        class="glyphicon glyphicon-plus"> </span></button></td>
                            </tr>
                            </tbody>
                        </table>
                        <table ng-show="selectComunidad" class="table table-hover table-condensed">
                            <thead>
                            <th>Id</th>
                            <th>Comunidad</th>

                            </thead>
                            <tbody>
                            <tr ng-repeat="comunidad in comunidades|cleanNull|filter:search ">
                                <td>{{comunidad.Id}}</td>
                                <td>{{comunidad.Nombre}}</td>
                                <td> <button data-toggle="modal" data-target="#myModal" type="button" class="btn btn-danger btn-xs"
                                             ng-click="selectComunidadId(comunidad)"><span
                                        class="glyphicon glyphicon-plus"> </span></button></td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                </div>

            </div>

        </div>


    </div>

</div>

</div>