<div class="row">
    <div class="col-lg-2">
        <blockquote><h1><span class="glyphicon glyphicon-phone-alt"> </span></h1></blockquote>
    </div>
    <div class="col-lg-8 filter">
        <form class="form-inline" role="form">
            <div class=form-group">
                <div class="btn-group" ng-model="button.radio" bs-radio-group>
                    <label class="btn btn-default" ng-model="radioModel" btn-radio="'FechaMovimiento'" uncheckable
                           ng-click="changeFilterBy('FechaMovimiento')"><span
                            class="glyphicon glyphicon-calendar"> </span><input type="radio" class="btn btn-default"
                                                                                 value="0"></label>
                    <label class="btn btn-default" ng-model="radioModel" btn-radio="'Concepto'" uncheckable
                           ng-click="changeFilterBy('Concepto')"><span
                            class="glyphicon glyphicon-font"> </span><input type="radio" class="btn btn-default"
                                                                            value="1"></label>
                    <label class="btn btn-default" ng-model="radioModel" btn-radio="'Cantidad'" uncheckable
                           ng-click="changeFilterBy('Cantidad')"><span
                            class="glyphicon glyphicon-euro"> </span><input type="radio" class="btn btn-default"
                                                                                 value="2"></label>
                    <label class="btn btn-default" ng-model="radioModel" btn-radio="'Todo'" uncheckable
                           ng-click="changeFilterBy('$')"><span
                            class="glyphicon glyphicon-asterisk"> </span><input type="radio" class="btn btn-default"
                                                                                value="6"></label>

                    <!-- <label class="btn btn-success" ng-click="changeSearch()">Entre Fechas</label>-->
                    <label class="btn btn-primary" ng-click="loadData()"><span
                            class="glyphicon glyphicon-download-alt"> </span></label>
                    <button data-toggle="modal" data-target="#editModal" type="button" class="btn btn-info" ng-click="create()" ><span
                            class="glyphicon glyphicon-plus-sign"> </span> Nuevo Movimiento
                    </button>
                </div>
                <div class="input-group col-lg-3 pull-right">
                    <span class="input-group-addon"> <span class="glyphicon glyphicon-sort"></span></span>
                    <select id="selectOrder" class="form-control" ng-model="order" ng-init="order='Comunidad'"
                            ng-options="option as option for option in orderFields"></select>
                </div>
            </div>
        </form>
        <!-- <p><button class="btn btn-default" ng-click=">Buscar entre fechas</button></p>-->

        <div ng-show="!isCollapsed" class="push-botton">
            <form class="form-inline" role="form" ng-submit="buscarBetween()">
                <div class="form-group col-lg-4">
                    <div class="input-group ">
                        <span class="input-group-addon"> <span
                                class="glyphicon glyphicon-calendar"> </span> </span>
                        <input class="form-control" type="text" ng-model="inicio" datepick placeholder="Inicio"/>
                    </div>
                </div>
                <div class="form-group col-lg-4">
                    <div class="input-group ">
                        <span class="input-group-addon"> <span
                                class="glyphicon glyphicon-calendar"> </span> </span>
                        <input class="form-control" type="text" ng-model="final" datepick placeholder="Final"/>
                    </div>
                </div>
                <div class="form-group">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Buscar</button>
                </div>
            </form>
        </div>
        <div class="row push-botton">
            <form role="form">
                <div class="form-group col-lg-8">
                    <div class="input-group ">
                        <span ng-show="isFilter" class="input-group-addon">Filtro</span>
                        <input  id="busqueda" ng-show="isFilter" class="form-control col-lg-6" type="text" name="input"
                                ng-model="search[filtro]">
                    </div>
                </div>
            </form>
        </div>

    </div>

    <div class="col-lg-2">
        <div class="btnNew btn-group-vertical pull-right">

        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-2">
        <left-menu></left-menu>
    </div>
    <div class="col-lg-8">
        Saldo: {{saldo}} Euros
        <table class="table table-hover detail">
            <thead>
            <th>Id</th>
            <th>Fecha</th>
            <th>Concepto</th>
            <th>Cantidad</th>
            <th>Acciones</th>
            </thead>
            <tbody>
            <tr ng-repeat="movimiento in movimientos|cleanNull|filter:search">
                <td>{{movimiento.Id}}</td>
                <td>{{movimiento.FechaMovimiento|date}}</td>
                <td>{{movimiento.Concepto}}</a></td>
                <td>{{movimiento.Cantidad}}</a></td>
                <td>
                    <div class="btn-group">
                        <button data-toggle="modal" data-target="#myModal" type="button" class="btn btn-danger  btn-sm"
                                ng-click="getIdToRemove(movimiento.Id)"><span
                                class="glyphicon glyphicon-trash"> </span></button>
                        <button data-toggle="modal" data-target="#editModal" type="button" class="btn btn-default btn-sm" ng-click="edit(movimiento)"><span
                                class="glyphicon glyphicon-edit"> </span></button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
    <div class="col-lg-2">
        <div ng-show="!isCollapsed" class="alert alert-success push-botton">
            Desde el {{(inicio|date)}} hasta el {{(final|date)}}
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                ¿Seguro que desea borrar la movimiento?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="remove(deleteId)">Borrar
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="myModalLabel">Movimiento</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form" >
                    <div class="form-group">
                        <label for="fechaM" class="col-sm-2 control-label">Fecha:</label>
                        <div class="col-sm-4">
                            <input id="fechaM" class="form-control" ng-model="movimientoActual.FechaMovimiento"  placeholder="Fecha" datepick/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="conceptoActual" class="col-sm-2 control-label">Concepto</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="conceptoActual" ng-model="movimientoActual.Concepto"
                                   placeholder="Concepto" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="cantidadActual" class="col-sm-2 control-label">Cantidad</label>
                        <div class="col-sm-4">
                            <input type="text" class="form-control" id="cantidadActual" ng-model="movimientoActual.Cantidad"
                                   placeholder="Cantidad" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                            <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="save(movimientoActual)">Guardar
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>