<div class="row">
    <div class="col-lg-2">
        <blockquote><h3>Crear/Editar Persona</h3></blockquote>
        <left-menu></left-menu>
    </div>

    <div class="col-lg-7 detail">
        <form class="form-horizontal" role="form" ng-submit="submit()">
            <div class="form-group">

                <button type="submit" class="btn btn-primary pull-right">Salvar</button>

            </div>
            <div class="form-group">
                <label for="comunidad" class="col-sm-2 control-label">Comunidad</label>

                <div class="col-sm-10">
                    <input type="text" class="form-control" id="comunidad" ng-model="comunidadNombre"
                           placeholder="Comunidad" required>
                </div>
            </div>

            <div class="form-group">
                <label for="nombre" class="col-sm-2 control-label">Nombre</label>

                <div class="col-sm-10">
                    <input type="text" class="form-control" id="nombre" ng-model="persona.Nombre"
                           placeholder="Nombre" required>
                </div>
            </div>
            <div class="form-group">
                <label for="direccion" class="col-sm-2 control-label">Direccion</label>

                <div class="col-sm-10">
                    <input type="text" class="form-control" id="direccion" ng-model="persona.Direccion"
                           placeholder="Dirección" />
                </div>
            </div>
            <div class="form-group">
                <label for="direccion" class="col-sm-2 control-label">Añadir Teléfonos</label>
                <div  class="col-sm-6">
                    <input type="text" class="form-control" id="phone" ng-model="telefono"
                           placeholder="Inserta Teléfono" />
                </div>
                <div  class="col-sm-4">
                    <div class="btn-group">
                         <button type="button" ng-click="addPhone()" class="btn btn-default">Añadir</button>
                        <button  type="button" ng-click="deletePhone()" class="btn btn-danger">Borrar Último</button>
                        </div>
                </div>

            </div>
            <div class="form-group">
                <label for="direccion" class="col-sm-2 control-label">Teléfonos añadidos</label>
                <div  class="col-sm-8">
                    <table class="">
                        <tr ng-repeat="telefono in telefonos">
                            <td ><h4><span class="label label-success">{{telefono}}</span></h4></td>
                        </tr>
                    </table>
                    <div id="alert"></div>
                </div>
                <div  class="col-sm-2">


                </div>

            </div>
            <div class="form-group">
                <label for="notas" class="col-sm-2 control-label">Notas</label>

                <div class="col-sm-10">
                    <textarea rows="9" class="form-control" id="notas" ng-model="persona.Nota"> </textarea>
                </div>
            </div>


        </form>
    </div>
    <div class="col-lg-3">
        <div id="alertComunidad"></div>
        <div class="form-group">
            <label for="comunidad" class="control-label">Filtrar/Buscar</label>

            <div>
                <table class="table table-hover table-condensed" id="tableComunidad">
                    <thead>
                    <th>
                    <td>Comunidades</td>
                    </th>
                    </thead>
                    <tbody>
                    <tr ng-click="selectComunidad(comunidad.Nombre,comunidad.Id)"
                        ng-repeat="comunidad in comunidades | filter:comunidadNombre">
                        <td>{{comunidad.Id}}</td>
                        <td>{{comunidad.Nombre|uppercase}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>


    </div>

</div>

</div>
