<div class="row">
    <div class="col-lg-2">
        <blockquote> <h1><span class="glyphicon glyphicon-user"> </span></h1></blockquote>
    </div>
    <div class="col-lg-8 filter">
        <form class="form-inline" role="form">
            <div class=form-group">
                <div class="btn-group" ng-model="button.radio" bs-radio-group>
                    <label class="btn btn-default" ng-model="radioModel" btn-radio="'Nombre'" uncheckable
                           ng-click="changeFilterBy('Nombre')"><span
                            class="glyphicon glyphicon-font"> </span><input type="radio" class="btn btn-default"
                                                                            value="0"></label>

                    <label class="btn btn-default" ng-model="radioModel" btn-radio="'ComunidadNombre'" uncheckable
                           ng-click="changeFilterBy('ComunidadNombre')"><span
                            class="glyphicon glyphicon-home"> </span><input type="radio" class="btn btn-default"
                                                                            value="0"></label>

                    <label class="btn btn-default" ng-model="radioModel" btn-radio="'Telefonos'" uncheckable
                           ng-click="changeFilterBy('Telefonos')"><span
                            class="glyphicon glyphicon-phone-alt"> </span><input type="radio" class="btn btn-default"
                                                                                 value="0"></label>

                    <label class="btn btn-default" ng-model="radioModel" btn-radio="'Marcada'" uncheckable
                           ng-click="changeFilterBy('Marcada')"><span
                            class="glyphicon glyphicon-ok-circle"> </span><input type="radio" class="btn btn-default"
                                                                                 value="0"></label>

                    <label class="btn btn-default" ng-model="radioModel" btn-radio="'Todo'" uncheckable
                           ng-click="changeFilterBy('$')"><span
                            class="glyphicon glyphicon-asterisk"> </span><input type="radio" class="btn btn-default"
                                                                                value="0"></label>

                   <!-- <label class="btn btn-success" ng-click="changeSearch()">Entre Fechas</label>-->
                    <label class="btn btn-primary" ng-click="loadData()"><span
                            class="glyphicon glyphicon-download-alt"> </span></label>
                    <button type="button" class="btn btn-info " ng-click="create()"><span
                            class="glyphicon glyphicon-plus-sign"> </span> Nueva Persona
                    </button>
                </div>
                <div class="input-group col-lg-3 pull-right">
                    <span class="input-group-addon">Orden</span>
                    <select id="selectOrder" class="form-control" ng-model="order" ng-init="order='Comunidad'"
                            ng-options="option as option for option in orderFields"></select>
                </div>
            </div>
        </form>

        <!-- <p><button class="btn btn-default" ng-click=">Buscar entre fechas</button></p>-->

        <div ng-show="!isCollapsed" class="push-botton">
            <form class="form-inline" role="form" ng-submit="buscarBetween()">
                <div class="form-group col-lg-4">
                    <div class="input-group ">
                        <span class="input-group-addon"> <span
                                class="glyphicon glyphicon-calendar"> </span> </span>
                        <input class="form-control" type="text" ng-model="inicio" datepick placeholder="Inicio"/>
                    </div>
                </div>
                <div class="form-group col-lg-4">
                    <div class="input-group ">
                        <span class="input-group-addon"> <span
                                class="glyphicon glyphicon-calendar"> </span> </span>
                        <input class="form-control" type="text" ng-model="final" datepick placeholder="Final"/>
                    </div>
                </div>
                <div class="form-group">


                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Buscar</button>
                </div>

            </form>

        </div>
        <div class="row push-botton">
            <form role="form">
                <div class="form-group col-lg-8">
                    <div class="input-group ">
                        <span ng-show="isFilter" class="input-group-addon">Filtro</span>
                        <input  id="busqueda" ng-show="isFilter" class="form-control col-lg-6" type="text" name="input"
                                ng-model="search[filtro]">
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="col-lg-2">
        <div class="btnNew btn-group-vertical pull-right">

        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-2">
        <left-menu></left-menu>
    </div>
    <div class="col-lg-8 detail">
        <table class="table table-condensed table-hover">
            <thead>
            <th>Nombre</th>
            <th>Comunidad</th>
            <th>Teléfonos</th>
            <th>Acciones</th>
            </thead>
            <tbody>
            <tr ng-repeat="persona in personas|filter:search ">
                <td>{{persona.Nombre}}</td>
                <td>{{persona['ComunidadNombre']}}</td>
                <td><span ng-repeat=" telefono in persona.Telefonos"> {{telefono}} / </span></td>
                <td>
                    <div class="btn-group">
                        <button data-toggle="modal" data-target="#myModal" type="button" class="btn btn-danger btn-sm"
                                ng-click="getIdToRemove(persona.Id)"><span
                                class="glyphicon glyphicon-trash"> </span></button>
                        <button type="button" class="btn btn-default btn-sm" ng-click="edit({{persona.Id}})"><span
                                class="glyphicon glyphicon-edit"> </span></button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
    <div class="col-lg-2">
        <div ng-show="!isCollapsed" class="alert alert-success push-botton">
            Desde el {{(inicio|date)}} hasta el {{(final|date)}}
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                ¿Seguro que desea borrar la persona?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="remove(deleteId)">Borrar
                </button>
            </div>
        </div>
    </div>
</div>