<div class="row">
    <div class="col-lg-2">
        <blockquote><h3><span class="glyphicon glyphicon-list-alt"> </span> Tareas</h3></blockquote>
    </div>


    <div class="col-lg-8">

        <div class="btn-group" ng-model="button.radio" bs-radio-group>
            <label class="btn btn-default" ng-model="radioModel" btn-radio="'FechaEntrega'" uncheckable
                   ng-click="changeFilterBy('FechaTarea')"><span
                    class="glyphicon glyphicon-calendar"> </span><input type="radio" class="btn btn-default"
                                                                        value="0"></label>
            <label class="btn btn-default" ng-model="radioModel" btn-radio="'Comunidad'" uncheckable
                   ng-click="changeFilterBy('Nombre')"><span
                    class="glyphicon glyphicon-font"> </span><input type="radio" class="btn btn-default"
                                                                    value="1"></label>
            <label class="btn btn-default" ng-model="radioModel" btn-radio="'Notas'" uncheckable
                   ng-click="changeFilterBy('Descripcion')"><span
                    class="glyphicon glyphicon-edit"> </span><input type="radio" class="btn btn-default"
                                                                    value="2"></label>

            <label class="btn btn-default" ng-model="radioModel" btn-radio="'Notas'" uncheckable
                   ng-click="changeFilterBy('Prioridad')"><span
                    class="glyphicon glyphicon-sort"> </span><input type="radio" class="btn btn-default"
                                                                                value="3"></label>
            <label class="btn btn-default" ng-model="radioModel" btn-radio="'Marcada'" uncheckable
                   ng-click="changeFilterBy('Marcada')"><span
                    class="glyphicon glyphicon-exclamation-sign"> </span><input type="radio" class="btn btn-default"
                                                                         value="4"></label>
            <label class="btn btn-default" ng-model="radioModel" btn-radio="'Realizada'" uncheckable
                   ng-click="changeFilterBy('Realizada')"><span
                    class="glyphicon glyphicon-ok-sign"> </span><input type="radio" class="btn btn-default"
                                                                  value="8"></label>
            <label class="btn btn-default" ng-model="radioModel" btn-radio="'Todo'" uncheckable
                   ng-click="changeFilterBy('$')"><span
                    class="glyphicon glyphicon-asterisk"> </span><input type="radio" class="btn btn-default"
                                                                        value="5"></label>
            <label class="btn btn-success" ng-click="changeSearch()"> <span
                    class="glyphicon glyphicon-calendar"> </span> <span
                    class="glyphicon glyphicon-transfer"> </span> <span
                    class="glyphicon glyphicon-calendar"> </span><input type="radio" class="btn btn-default"
                                                                        value="6"></label>
            <label class="btn btn-primary" ng-click="loadData()"><span
                    class="glyphicon glyphicon-download-alt"> </span><input type="radio" class="btn btn-default"
                                                                            value="7"></label>
        </div>
        <div class="input-group col-lg-3 pull-right">
            <span class="input-group-addon"> <span class="glyphicon glyphicon-sort"></span></span>
            <select id="selectOrder" class="form-control" ng-model="order" ng-init="order='Comunidad'"
                    ng-options="option as option for option in orderFields"></select>
        </div>




        <!-- <p><button class="btn btn-default" ng-click=">Buscar entre fechas</button></p>-->

        <div ng-show="!isCollapsed" class="push-botton">
            <form class="form-inline" role="form" ng-submit="buscarBetween()">
                <div class="form-group col-lg-4">
                    <div class="input-group ">
                        <span class="input-group-addon"> <span
                                class="glyphicon glyphicon-calendar"> </span> </span>
                        <input class="form-control" type="text" ng-model="inicio" datepick placeholder="Inicio"/>
                    </div>
                </div>
                <div class="form-group col-lg-4">
                    <div class="input-group ">
                        <span class="input-group-addon"> <span
                                class="glyphicon glyphicon-calendar"> </span> </span>
                        <input class="form-control" type="text" ng-model="final" datepick placeholder="Final"/>
                    </div>
                </div>
                <div class="form-group">


                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Buscar</button>
                </div>

            </form>

        </div>
        <div class="row push-botton">
        <form role="form" ng-submit="buscarBetween()">
            <div class="form-group col-lg-8">
                <div class="input-group ">
                    <span ng-show="isFilter" class="input-group-addon">Filtro</span>
                    <input  id="busqueda" ng-show="isFilter" class="form-control col-lg-6" type="text" name="input"
                            ng-model="search[filtro]">
                </div>
            </div>
        </form>
        </div>


    </div>

    <div class="col-lg-2">
        <div class="btnNew btn-group-vertical">
            <button type="button" class="btn btn-primary " ng-click="create()"><span
                    class="glyphicon glyphicon-plus-sign"> </span> Nueva Tarea
            </button>
            <button type="button" class="btn btn-warning " ng-click=""><span
                    class="glyphicon glyphicon-calendar"> </span> Ver en Calendario
            </button>
            <button type="button" class="btn btn-danger " ng-click="toTrash()"><span
                    class="glyphicon glyphicon-trash"> </span> Papelera
            </button>
        </div>


    </div>
</div>


<div class="row">
    <div class="col-lg-2">
        <left-menu></left-menu>
    </div>
    <div class="col-lg-8">

        <div class="row">
            <div class="col-lg-12">
                <div class="panel-group" id="accordion">
                    <div ng-repeat="tarea in tareas|cleanNull|filter:search|orderBy:'FechaTarea'" class="panel" ng-class="panelClass(tarea)">
                        <div class=" panel-heading" >
                            <h4 class="panel-title" >
                                <div class="media">
                                    <div class="pull-left">
                                        <div class="media-object"><span ng-class="prioridadClass(tarea)" class="label">{{tarea.Prioridad}} </span>
                                        </div>
                                    </div>
                                    <div class="pull-left">
                                        <div class="media-object"><span  class="label label-success">{{tarea.FechaTarea|date}} </span>
                                        </div>
                                    </div>
                                    <div class="media-body">

                                        <div class="btn-group pull-right">
                                            <button  ng-show="!tarea.Eliminado" data-toggle="modal" data-target="#myModal" type="button"
                                                    class=" btn btn-sm btn-danger"
                                                    ng-click="getIdToRemove(tarea.Id)"><span
                                                    class="glyphicon glyphicon-trash"> </span></button>
                                            <button ng-show="tarea.Eliminado" data-toggle="modal" data-target="#myModal" type="button"
                                                    class=" btn btn-sm btn-danger"
                                                    ng-click="purgueConfirm(tarea.Id)"><span
                                                    class="glyphicon glyphicon-remove-circle"> </span></button>
                                            <button ng-show="tarea.Eliminado" type="button"
                                                    class=" btn btn-sm btn-success"
                                                    ng-click="restore(tarea.Id)"><span
                                                    class="glyphicon glyphicon-repeat"> </span></button>
                                            <button type="button" class="btn  btn-sm btn-primary"
                                                    ng-click="edit(tarea.Id)"><span
                                                    class="glyphicon glyphicon-edit"> </span></button>
                                            <button type="button" class="btn  btn-sm btn-warning"
                                                    ng-click="marcar(tarea)"><span
                                                    class="glyphicon glyphicon-exclamation-sign"> </span></button>
                                            <button type="button" class="btn  btn-sm btn-default"
                                                    ng-click="realizar(tarea)"><span
                                                    class="glyphicon glyphicon-ok"> </span></button>
                                        </div>

                                        <h4 class="media-heading"><a data-toggle="collapse" data-parent="#accordion"  ng-class="{'text-danger': tarea.Marcada==1, 'text-success': tarea.Marcada==0}"
                                                                     data-target="#collapse{{$index}}"> <strong>{{tarea.Nombre}}</strong></a>
                                        </h4>

                                   </div>
                                </div>
                            </h4>
                        </div>
                        <div id="collapse{{$index}}" class="panel-collapse collapse">
                            <div class="panel-body">
                                <h5><strong>Descripción:</strong> {{tarea.Descripcion}}</h5>
                            </div>
                        </div>
                    </div>

                </div>
                <!--
                 <div class="media">
                     <div class="pull-left" href="#">
                         <h4 class="media-object"> <span ng-class="prioridadClass(tarea)" class="label">{{tarea.Prioridad}} </span>
                         </h4>
                     </div>
                     <div class="media-body">
                         <div class="btn-group pull-right">
                             <button data-toggle="modal" data-target="#myModal" type="button" class=" btn btn-danger"
                                     ng-click="getIdToRemove(tarea.Id)"><span
                                     class="glyphicon glyphicon-trash"> </span></button>
                             <button  type="button" class="btn  btn-primary"
                                      ng-click="edit(tarea.Id)"><span
                                     class="glyphicon glyphicon-edit"> </span></button>
                             <button type="button" class="btn  btn-default" ng-click="marcar(tarea)"><span
                                     class="glyphicon glyphicon-ok"> </span></button>
                         </div>
                         <h4 class="media-heading"><strong>Resumen:</strong> {{tarea.Nombre}}<strong></h4>
                         <h5> Descripción:</strong> {{tarea.Descripcion}}</h5>

                     </div>-->

            </div>

            <!--
            <div class="col-lg-1">
                <h4> <span ng-class="prioridadClass(tarea)" class="label">{{tarea.Prioridad}} </span>
                </h4>
            </div>

            <div class="col-lg-4">
                <h4 <span class="label label-success"> {{tarea.FechaTarea|date}}</span>
                </h4>
            </div>

            <div class="col-lg-7">
                <div class=""><h6> <strong>Resumen:</strong> {{tarea.Nombre}}<strong> Descripción:</strong> {{tarea.Descripcion}}</h6></div>
            </div>
-->
        </div>
        <!-- <div class="col-lg-3">
             <div class="btn-group pull-right">
                 <button data-toggle="modal" data-target="#myModal" type="button" class="btn-sm btn btn-danger"
                         ng-click="getIdToRemove(tarea.Id)"><span
                         class="glyphicon glyphicon-trash"> </span></button>
                 <button  type="button" class="btn btn-sm btn-primary"
                          ng-click="edit(tarea.Id)"><span
                         class="glyphicon glyphicon-edit"> </span></button>
                 <button type="button" class="btn btn-sm btn-default" ng-click="marcar(tarea)"><span
                         class="glyphicon glyphicon-ok"> </span></button>
             </div>
         </div>-->


        <div class="checkbox">

        </div>


    </div>
    <div class="col-lg-2">
        <div ng-show="!isCollapsed" class="alert alert-success push-botton">
            Desde el {{(inicio|date)}} hasta el {{(final|date)}}
        </div>
    </div>

</div>
</div>


</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                ¿Seguro que desea borrar <span ng-show="purgar">definitivamente</span> la tarea?
                <span ng-show="purgar">Esto no podrá deshacerse</span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button ng-show="!purgar"type="button" class="btn btn-primary" data-dismiss="modal" ng-click="remove(deleteId)">Borrar
                </button>
                <button ng-show="purgar"type="button" class="btn btn-primary" data-dismiss="modal" ng-click="purgue(deleteId)">Purgar
                </button>
            </div>
        </div>
    </div>
</div>