<div class="row">
    <div class="col-lg-2">
        <blockquote><h3>Crear/Editar Contabilidad</h3></blockquote>
        <left-menu></left-menu>
    </div>

    <div class="col-lg-7 detail">
        <form class="form-horizontal" role="form" ng-submit="submit()">
            <div class="form-group">

                <button type="submit" class="btn btn-primary pull-right">Salvar</button>

            </div>
            <div class="form-group">
                <label for="nombre" class="col-sm-2 control-label">Resumen</label>

                <div class="col-sm-10">
                    <input type="text" class="form-control" id="nombre" ng-model="tarea.Nombre"
                           placeholder="Resumen" required>
                </div>
            </div>
            <div class="form-group">
                <label for="fechaT" class="col-sm-2 control-label">Fecha Tarea</label>

                <div class="col-sm-6">
                    <h4>{{tarea.FechaTarea|date}}</h4>
                    <div id="fechaT" ng-model="tarea.FechaTarea" datepick/>
                </div>

                <div class="col-sm-4">
                    <div class="form-group">
                    <label for="fechaT" class="control-label">Incidencia Asociada</label>
                        <h4><span class="label label-success">{{tarea.IncidenciaId}}</span></h4>
                        <div class="col-sm-12"> </div>
                    <label for="orden" class="control-label col-sm-3">Orden</label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="orden" ng-model="tarea.Orden"></div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12"> </div>
                        <label for="prioridad" class="control-label">Prioridad:  <span  ng-class="prioridadClass(selectedOption)" class="label">{{selectedOption}}</span></label>
                        <div class="">
                            <select  id="prioridad"  class="form-control" ng-model="selectedOption" ng-options="prioridad.value as prioridad.label for prioridad in prioridadValues" >
                                <option value="">-- Cambiar Prioridad --</option>
                            </select>
                            </div>
                    </div>

                </div>


            </div>


            <div class="form-group">
                <label for="descripcion" class="col-sm-2 control-label">Descripcion</label>

                <div class="col-sm-10">
                    <textarea rows="9" class="form-control" id="descripcion" ng-model="tarea.Descripcion"> </textarea>
                </div>
            </div>


        </form>
    </div>
    <div class="col-lg-3">
        <div class="form-group">
            <label for="incidencia" class="control-label">Filtrar/Buscar</label>
            <div>
                <input type="text" class="form-control" id="incidencia" ng-model="incidencia"
                       placeholder="Filtrar Incidencia">
            </div>

            <div>
                <table class="table table-hover table-condensed" id="tableIncidencias">
                    <thead>
                    <th>
                    <td>Incidencias</td>
                    </th>
                    </thead>
                    <tbody>
                    <tr ng-click="selectIncidencia(incidencia.Breve,incidencia.Id)"
                        ng-repeat="incidencia in incidencias | filter:incidencia">
                        <td>{{incidencia.Id}}</td>
                        <td>{{incidencia.Breve|uppercase}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>

</div>

</div>
