<div class="row">
    <div class="col-lg-2">
        <blockquote><h1><span class="glyphicon glyphicon-phone-alt"> </span></h1></blockquote>
    </div>
    <div class="col-lg-8 filter">
        <form class="form-inline" role="form">
            <div class=form-group">
                <div class="btn-group" ng-model="button.radio" bs-radio-group>
                    <label class="btn btn-default" ng-model="radioModel" btn-radio="'Telefono'" uncheckable
                           ng-click="changeFilterBy('Telefono')"><span
                            class="glyphicon glyphicon-phone-alt"> </span><input type="radio" class="btn btn-default"
                                                                                 value="0"></label>
                    <label class="btn btn-default" ng-model="radioModel" btn-radio="'Tipo'" uncheckable
                           ng-click="changeFilterBy('Tipo')"><span
                            class="glyphicon glyphicon-tags"> </span><input type="radio" class="btn btn-default"
                                                                            value="1"></label>
                    <label class="btn btn-default" ng-model="radioModel" btn-radio="'EmpresaNombre'" uncheckable
                           ng-click="changeFilterBy('EmpresaNombre')"><span
                            class="glyphicon glyphicon-briefcase"> </span><input type="radio" class="btn btn-default"
                                                                                 value="2"></label>
                    <label class="btn btn-default" ng-model="radioModel" btn-radio="'PersonaNombre'" uncheckable
                           ng-click="changeFilterBy('PersonaNombre')"><span
                            class="glyphicon glyphicon-user"> </span><input type="radio" class="btn btn-default"
                                                                            value="3"></label>
                    <label class="btn btn-default" ng-model="radioModel" btn-radio="'IncidenciaId'" uncheckable
                           ng-click="changeFilterBy('IncidenciaId')"><span
                            class="glyphicon glyphicon-flag"> </span><input type="radio" class="btn btn-default"
                                                                            value="4"></label>
                    <label class="btn btn-default" ng-model="radioModel" btn-radio="'Marcada'" uncheckable
                           ng-click="changeFilterBy('Marcada')"><span
                            class="glyphicon glyphicon-ok-circle"> </span><input type="radio" class="btn btn-default"
                                                                                 value="5"></label>
                    <label class="btn btn-default" ng-model="radioModel" btn-radio="'Todo'" uncheckable
                           ng-click="changeFilterBy('$')"><span
                            class="glyphicon glyphicon-asterisk"> </span><input type="radio" class="btn btn-default"
                                                                                value="6"></label>

                    <!-- <label class="btn btn-success" ng-click="changeSearch()">Entre Fechas</label>-->
                    <label class="btn btn-primary" ng-click="loadData()"><span
                            class="glyphicon glyphicon-download-alt"> </span></label>
                    <button type="button" class="btn btn-info " ng-click="create()"><span
                            class="glyphicon glyphicon-plus-sign"> </span> Nuevo Teléfono
                    </button>
                </div>
                <div class="input-group col-lg-3 pull-right">
                    <span class="input-group-addon"> <span class="glyphicon glyphicon-sort"></span></span>
                    <select id="selectOrder" class="form-control" ng-model="order" ng-init="order='Comunidad'"
                            ng-options="option as option for option in orderFields"></select>
                </div>
            </div>
        </form>

        <!-- <p><button class="btn btn-default" ng-click=">Buscar entre fechas</button></p>-->

        <div ng-show="!isCollapsed" class="push-botton">
            <form class="form-inline" role="form" ng-submit="buscarBetween()">
                <div class="form-group col-lg-4">
                    <div class="input-group ">
                        <span class="input-group-addon"> <span
                                class="glyphicon glyphicon-calendar"> </span> </span>
                        <input class="form-control" type="text" ng-model="inicio" datepick placeholder="Inicio"/>
                    </div>
                </div>
                <div class="form-group col-lg-4">
                    <div class="input-group ">
                        <span class="input-group-addon"> <span
                                class="glyphicon glyphicon-calendar"> </span> </span>
                        <input class="form-control" type="text" ng-model="final" datepick placeholder="Final"/>
                    </div>
                </div>
                <div class="form-group">


                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Buscar</button>
                </div>

            </form>

        </div>
        <div class="row push-botton">
            <form role="form">
                <div class="form-group col-lg-8">
                    <div class="input-group ">
                        <span ng-show="isFilter" class="input-group-addon">Filtro</span>
                        <input  id="busqueda" ng-show="isFilter" class="form-control col-lg-6" type="text" name="input"
                                ng-model="search[filtro]">
                    </div>
                </div>
            </form>
        </div>

    </div>

    <div class="col-lg-2">
        <div class="btnNew btn-group-vertical pull-right">

        </div>
    </div>
</div>

<div class="row">
    <div class="col-lg-2">
        <left-menu></left-menu>
    </div>
    <div class="col-lg-8">
        <table class="table table-hover detail">
            <thead>
            <th>Telefono</th>
            <th>Tipo</th>
            <th>Empresa</th>
            <th>Persona</th>
            <th>Incidencia</th>
            <th>Acciones</th>
            </thead>
            <tbody>
            <tr ng-repeat="telefono in telefonos|cleanNull|filter:search ">
                <td>{{telefono.Telefono}}</td>
                <td>{{telefono.Tipo}}</td>
                <td><a href="#/empresa/view/{{telefono.EmpresaId}}">{{telefono.EmpresaNombre}}</a></td>
                <td><a href="#/persona/view/{{telefono.PersonaId}}">{{telefono.PersonaNombre}}</a></td>
                <td><a href="#/incidencia/view/{{telefono.IncidenciaId}}">{{telefono.IncidenciaId}}</a></td>
                <td>
                    <div class="btn-group">
                        <button data-toggle="modal" data-target="#myModal" type="button" class="btn btn-danger  btn-sm"
                                ng-click="getIdToRemove(telefono.Id)"><span
                                class="glyphicon glyphicon-trash"> </span></button>
                        <button type="button" class="btn btn-default btn-sm" ng-click="edit({{telefono.Id}})"><span
                                class="glyphicon glyphicon-edit"> </span></button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
    <div class="col-lg-2">
        <div ng-show="!isCollapsed" class="alert alert-success push-botton">
            Desde el {{(inicio|date)}} hasta el {{(final|date)}}
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                ¿Seguro que desea borrar la telefono?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="remove(deleteId)">Borrar
                </button>
            </div>
        </div>
    </div>
</div>