<div class="row">
    <div class="col-lg-2">
        <blockquote><h3>Crear/Editar Teléfono</h3></blockquote>
        <left-menu></left-menu>
    </div>

    <div class="col-lg-7 detail">
        <form class="form-horizontal" role="form" ng-submit="submit()">
            <div class="form-group">

                <button type="submit" class="btn btn-primary pull-right">Salvar</button>

            </div>
            <div class="form-group">
                <label for="telefono" class="col-sm-2 control-label">Número</label>

                <div class="col-sm-10">
                    <input type="text" class="form-control" id="telefono" ng-model="telefono.Telefono"
                           placeholder="Teléfono">
                </div>
            </div>

            <div class="form-group">
                <label for="tipo" class="col-sm-2 control-label">Tipo</label>

                <div class="col-sm-10">
                    <input type="text" class="form-control" id="tipo" ng-model="telefono.Tipo"
                           placeholder="Tipo" required>
                </div>
            </div>
            <div class="form-group">
                <label for="notas" class="col-sm-2 control-label">Notas</label>

                <div class="col-sm-10">
                    <textarea rows="9" class="form-control" id="notas" ng-model="telefono.Nota"> </textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="asociado" class="col-sm-2 control-label">Asociado a:</label>

                <div class="col-sm-4">
                   <span id="asociado"> <input type="text" class="form-control" id="asociacion" ng-model="asociacion"
                                               disabled></span>
                </div>
            </div>
            <div class="form-group">
                <label for="asociar" class="col-sm-2 control-label">Asociar a:</label>
                <div class="col-sm-10">
                <div id="asociar" class="btn-group" ng-model="button.radio" bs-radio-group>
                    <label ng-click="showAsociation('persona')" class="btn btn-default"><input  type="radio" class="btn btn-default" value="0"> Persona</label>
                    <label ng-click="showAsociation('empresa')" class="btn btn-default"><input  type="radio" class="btn btn-default" value="1"> Empresa</label>
                    <label ng-click="showAsociation('incidencia')" class="btn btn-default"><input type="radio" class="btn btn-default" value="2"> Incidencia</label>
                </div>
                </div>
            </div>


        </form>
    </div>
    <div class="col-lg-3">
        <div class="form-group">
            <label for="filtro" class="control-label">Filtro Asociar a:</label>
            <input type="text" class="form-control" id="filtro" ng-model="search"
                   placeholder="Filtrar">
            <div>
                <table  ng-show="selectPersona" class="table table-hover table-condensed">
                    <thead>
                    <th>Id</th>
                    <th>Persona</th>
                   
                    </thead>
                    <tbody>
                    <tr ng-repeat="persona in personas|cleanNull|filter:search ">
                        <td>{{persona.Id}}</td>
                        <td>{{persona.Nombre}}</td>
                        <td> <button data-toggle="modal" data-target="#myModal" type="button" class="btn btn-danger btn-xs"
                                     ng-click="selectPersonaId(persona)"><span
                                class="glyphicon glyphicon-plus"> </span></button></td>
                    </tr>
                    </tbody>
                </table>
                <table ng-show="selectEmpresa" class="table table-hover table-condensed">
                    <thead>
                    <th>Id</th>
                    <th>Empresa</th>

                    </thead>
                    <tbody>
                    <tr ng-repeat="empresa in empresas|cleanNull|filter:search ">
                        <td>{{empresa.Id}}</td>
                        <td>{{empresa.Nombre}}</td>
                        <td> <button data-toggle="modal" data-target="#myModal" type="button" class="btn btn-danger btn-xs"
                                     ng-click="selectEmpresaId(empresa)"><span
                                class="glyphicon glyphicon-plus"> </span></button></td>
                    </tr>
                    </tbody>
                </table>
                <table ng-show="selectIncidencia" class="table table-hover table-condensed">
                    <thead>
                    <th>Id</th>
                    <th>Incidencia</th>

                    </thead>
                    <tbody>
                    <tr ng-repeat="incidencia in incidencias|cleanNull|filter:search ">
                        <td>{{incidencia.Id}}</td>
                        <td>{{incidencia.Breve}}</td>
                        <td> <button data-toggle="modal" data-target="#myModal" type="button" class="btn btn-danger btn-xs"
                                     ng-click="selectIncidenciaId(incidencia)"><span
                                class="glyphicon glyphicon-plus"> </span></button></td>
                    </tr>
                    </tbody>
                </table>

            </div>
        </div>

    </div>

</div>

</div>
