<div class="row">
    <div class="col-lg-2">
        <blockquote><h3>Crear/Editar Persona</h3></blockquote>
        <left-menu></left-menu>
    </div>


    <div id="comunidades" class="col-lg-7">
        <p>
            <button type="button" class="btn btn-primary" ng-click="create()"><span
                    class="glyphicon glyphicon-plus-sign"> </span> Nuevo</button>
        </p>

        <div class="panel panel-default">
            <!-- Default panel contents -->
            <div class="panel-heading">
                <h5>Filtrar:</h5>
                <p><input class="form-control col-lg-8" type="text" name="input"
                          ng-model="search"></p>
            </div>


            <table class="table table-hover">
                <thead>
                <th>Id</th>
                <th>Tipo</th>

                </thead>
                <tbody>
                <tr ng-repeat="tip in tipos | filter:search">
                    <td>{{tip.Id}}</td>
                    <td>{{tip.Tipo}}</td>

                    <td>
                        <div class="btn-group">
                            <button data-toggle="modal" data-target="#myModal"  type="button" class="btn btn-danger" ng-click="getIdToRemove(tip.Id)"><span
                                    class="glyphicon glyphicon-trash"> </span></button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">
                    <h4>Crear Tipo Entrega</h4>
                </div>
                <div class="panel-body">

                    <form class="form-horizontal" role="form" ng-submit="submit()">
                        <div class="form-group">
                            <label for="nombre" class="col-sm-2 control-label">Tipo</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="nombre" ng-model="tipo.Tipo" placeholder="Tipo" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="nota" class="col-sm-2 control-label">Notas</label>
                            <div class="col-sm-10">
                                <textarea type="text" rows="3" class="form-control" id="nota" ng-model="tipo.Notas" placeholder="Notas" ></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-push-10 col-sm-2">
                                <button type="submit" class="btn btn-primary">Guardar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">


    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                ¿Seguro que desea borrar la Comunidad?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal"  ng-click="delete(deleteId)">Borrar</button>
            </div>
        </div>
    </div>
</div>
